/* RESET DE CSS */
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
abbr,acronym {border:0;}
a img{border:0;}

/* ESTILOS GENERALES DEL DISEÑO */

body{
font-family: Arial, Helvetica, sans-serif;
font-weight:100;
font-size: 10px;
color: #585858;
line-height:1;
background-color:#fff;
}

body#home{background-color:#000;}
body#intuicion{background-color:#fff;}
body#leyenda{background-color:#fff;}
body#infancia{background-color:#fff;}
body#atrevimiento{background-color:#fff;}
body#comenzar{background-color:#f1f1f1;}
body#crear{background-color:#f1f1f1;}
body#innovar{background-color:#f1f1f1;}
body#tienda-bombones{background-color:#fff;}
body#elige-compra{background-color:#fafafa;}
body#confirmar-pedido{background-color:#fafafa;}
body#gracias{background-color:#fafafa;}
body#modificar-datos{background-color:#fff;}
body#mapa-web{background-color:#fafafa;}
body#contacto{background-color:#fafafa;}
body#inicio-sesion{background-color:#fafafa;}
body#registro-gris{background-color:#fafafa;}
body#registro{background-color:#fafafa;}
body#confirmacion-registro{background-color:#fafafa;}
body#newsletter{background-color:#fafafa;}
body#ficha-tecnica{background-color:#fafafa;}
body#datos-entrega{background-color:#fafafa;}
body#pago{background-color:#fafafa;}
body#modificar-datos{background-color:#fafafa;}

p {
line-height:normal;
margin:10px 0;
line-height:150%;
}

h1{  
font-size:50px;
color:#666;
line-height:normal;
font-family: DINEngschriftStd, Arial, Helvetica, sans-serif;
}

h2{
font-size:18px; 
color:#666;
line-height:normal;
font-family: NewsGothicStdRegular, Arial, Helvetica, sans-serif;
}

h3{color:#999; font-size:16px}

h4{color:#B0B0B0; margin-right:5px;}

h5{font-size:11px; color:#B0B0B0;}

a:link { color:#1f1f1f; text-decoration:none;}
a:visited { color:#1f1f1f;}
a:active { color:#1f1f1f;}
a:hover { color:#1f1f1f; text-decoration:underline;}

ul{list-style-type:none; padding:0px; margin-left:6px;}
ol{padding-left:20px;}

strong, b{font-weight:bold;}

/* LAYOUT BÁSICO */

div#wrapper{
	margin:0 auto;
	width:932px;
	z-index:5;
}

div#header{width:100%; background:url('../img/bck-header.jpg') top left repeat-x #1c1c1c; margin-top:-20px;}
	div.header-inner{height:109px;}
	div.header-inner div.logo{float:left; margin-top:19px; position:relative;}
		div.header-inner div.logo div.sombra{position:absolute; bottom:-6px; right:1px; height:6px; width:145px; z-index:10;}
	div.header-inner div.nav-upper{float:left; height:59px; text-transform:uppercase;}
		div.nav-upper h1{font-size:2.0em;}
		div.nav-upper h2{
			font-family:'NewsGothicBT-RomanCondensed', Arial, Helvetica, sans-serif;
			font-size:1.8em;
			color:#919191;
			line-height:1em;
		}
		div.nav-upper a{
			color:#fff;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
		}
			div.nav-upper a:hover{color:#cb0014; text-decoration:none;}
		div.nav-upper ul li{float:left; display:inline; margin:8px 20px;}
		div.nav-upper li.current a{color:#cb0014; text-decoration:none;}
	div.header-inner div.extra-upper{float:right; height:30px; margin-top:19px;width: 500px;}
	    div.header-inner div.extra-upper ul{float:right;}
		div.extra-upper ul li{
			background:url('../img/img-separador.jpg') center right no-repeat;
			float:left;
			display:inline;
			margin:10px 2px;
			padding-right:8px;
		}
			div.extra-upper ul li:last-child{background:none;}
			div.extra-upper ul li img{margin-right:2px;}
			div.extra-upper ul li.bt-buscador{padding-top:1px;}
				div.extra-upper ul li.bt-buscador img{margin-right:0px;}
			div.extra-upper ul li a{color:#646464;}
				div.extra-upper ul li a:hover{color:#2b2b2b!important; text-decoration:none;}
                div.extra-upper ul li.active a{color:#2b2b2b; text-decoration:none;}

div#sub-header{width:100%; background:#333333; border-top:2px solid #3e3e3e; float:left; height:40px;}
div#sub-header div.nav-sup{position:relative; float:left; width:100%;}
	div#sub-header div.nav-sup ul{margin-left:0px;}
	div#sub-header div.nav-sup ul li{float:left; display:inline; margin:5px 20px 5px 0px;}
		div.nav-sup p{margin:5px 0px;}
		div.nav-sup a{
			color:#fff;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
			font-size:1.6em;
			text-transform:uppercase;
			font-family: DINNeuzeitGrotesk-BoldCond, Arial, Helvetica, sans-serif;
		}
			div.nav-sup a:hover{color:#cb0014; text-decoration:none;}
		div#sub-header div.cart{
			position:absolute;
			right:0;
			bottom:0;
			top:auto;
			width:120px;
			left:auto;
		}
			div.cart p{float:left; margin-top:66px; font-size:1.1em; color:#a0a0a0;}
		div.breadcrumb{font-size:1.2em; color:#292929; margin: 14px 0px; float:left; width:520px;}
			div.breadcrumb a.bread-home {background:url('../img/home-ico.jpg') top center no-repeat; width:12px; height:13px; display:inline-block;}
		div.bread-cesta{font-size:1.2em; color:#292929; margin: 3px 0px; float:left; width:520px;}
			div.bread-cesta p{color:#654831; font-weight:bold;}
		div.bread-rojo{font-size:1.2em; color:#bd0000; margin: 3px 0px; float:left; width:520px;}
			div.bread-rojo p{color:#bd0000; font-weight:bold;}
		div.search-div{float:right; width:380px; margin-top:10px;}
			div.avanzada{float:right; margin-right:10px; color:#403e3e; font-size:1.1em; margin-top:4px;}
			div.avanzada a{background: url(../img/shop-filters-expand.png) right center no-repeat; padding-right: 12px;}
			div.avanzada a.expanded{background: url(../img/shop-filters-collapse.png) right center no-repeat;}
			div.search-div input.caja-buscador{width:158px; float:right; color:#777777; font-size:1.2em; padding:1px 20px 1px 6px; background:url('../img/lupa-buscador.jpg') center right no-repeat; border:1px solid #cecece;}

div#top-bar{width:100%; background:#fafafa; border-bottom:1px solid #dfdfdf; float:none; height:40px;}
body#registro-gris div#top-bar{border-bottom:0px;}
div#filter-content{
	width:100%;
	background:#fafafa;
	border-bottom:1px solid #dfdfdf;
	position:absolute;
	top:192px;
	z-index:10;
	padding:20px;
	display:none;
}
	div#filter-content div.filters ul li{float:left; width:20%; margin-right:40px;}
		div.filters ul li h3{color:#3b3b3b; font-size:1.3em; font-weight:bold;}
		div.filters ul li p{font-size:1.2em; line-height:70%;}
			div.filters ul li p.rojo{color:#B40606;}

div#content{width:100%; min-height:430px; position:relative;}
	body#home div#content{background:url('../img/bck-home.jpg') top center no-repeat #000;}
	body#intuicion div#content{background:url('../img/bck-home-intuicion.jpg') -570px 0px repeat-x;}
	body#leyenda div#content{background:url('../img/bck-home-leyenda.jpg') -570px 0px repeat-x;}
	body#infancia div#content{background:url('../img/bck-home-infancia.jpg') -570px 0px repeat-x;}
	body#atrevimiento div#content{background:url('../img/bck-home-atrevimiento.jpg') -570px 0px repeat-x;}
	body#comenzar div#content{background:url('../img/bck-comenzar.jpg') top center no-repeat #fff;}
	body#crear div#content{background:url('../img/bck-crear.jpg') top center no-repeat #fff;}
	body#innovar div#content{background:#fff;}
	body#tienda-bombones div#content{margin-top:81px;}
	body#elige-compra div#content{margin-top:81px;}
	body#registro div#content{margin-top:35px;}
	body#modificar-datos div#content{margin-top:35px;}
	body#confirmar-pedido div#content{margin-top:0px;}
	body#confirmacion-registro div#content{background:url('../img/bck-confirmacion-registro.jpg') top center no-repeat; min-height:258px;}
	body#newsletter div#content{background:url('../img/bck-newsletter.jpg') top center no-repeat; min-height:349px;}
	body#ficha-tecnica div#content{margin-top:81px;}

/* div.contenidos{padding-top:24px;} */
div.contenidos{padding:24px 0px; float:left; width:100%;}
div.contenidos-productos{width:995px; height:420px;}
div#services div.nav-slider{position:absolute; top:-54px; height:50px; left:0px;}
	div#services div.nav-slider ul li a{
		color:#fff;
		padding: 10px 0px;
		background-color:rgba(0,0,0,0.5);
		width:227px;
		display:inline-block;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		margin-top:13px;
		height:17px;
	}
div#services div.nav-slider ul li a:hover{margin-top:0px; height:30px; color:#f50400; text-decoration:none;}
div#services div.nav-slider ul li{
		font-family:NewsGothicStdRegular, Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		font-size:1.7em;
		float:left;
		display:inline;
		margin:0px 2px;
		text-align:center;
		width:227px;
		height:50px;
	}

div#services{
	width:100%;
	min-height:215px;
	background: url('../img/bck-services.jpg') top center no-repeat #f3f3f3;
	border-top:1px solid #fff;
	float:left;
}

div#services div#wrapper{position:relative;}
	div#services ul li{width:167px; height:65px; float:left; margin:20px 32px;}
		div#services ul li a{
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
			color:#000;
		}
		div#services ul li a:hover{
			text-decoration:none;
			color:#555;
		}
	div#services h2{
		font-size:1.5em;
		font-weight:700;
		padding-left:25px;
	}
		div#services ul li a h2{
			color:#000;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
			font-family: DINEngschriftStd, Arial, Helvetica, sans-serif;
		}
		div#services ul li a:hover h2{
			text-decoration:none;
			color:#555;			
		}
		div#services ul li.tiendas h2{background: url('../img/ico-tiendas.png') top left no-repeat; color:#272727;}
		div#services ul li.cafeteria h2{background: url('../img/ico-cafeteria.png') top left no-repeat; color:#272727;}
		div#services ul li.franquicias h2{background: url('../img/ico-franquicias.png') top left no-repeat; color:#272727;}
		div#services ul li.empresas h2{background: url('../img/ico-empresas.png') top left no-repeat; color:#272727;}
		div#services ul li.prensa h2{background: url('../img/ico-prensa.png') top left no-repeat; color:#272727;}
		div#services ul li.recetas h2{background: url('../img/ico-recetas.png') top left no-repeat; color:#272727;}
		div#services ul li.cocina h2{background: url('../img/ico-cocina.png') top left no-repeat; color:#272727;}
		div#services ul li.noticias h2{background: url('../img/ico-noticias.png') top left no-repeat; color:#272727;}

div#links{width:100%; min-height:229px; background:#2f2f2f; float:left;}
	div#links ul li{width:150px; float:left; margin:15px;}
	div#links h2{
		font-family:Arial, Helvetica, sans-serif;
		font-size:1.4em;
		font-weight:700;
		text-transform:uppercase;
		padding:10px 0px;
	}
		div#links h2 a{color:#fff;}
			div#links h2 a:hover{color:#B3B3B3; text-decoration:none;}
	div#links p{font-size:1.3em;}
		div#links p a{color:#959595;}
			div#links p a:hover{color:#cecece; text-decoration:none;}

div#footer{
	background:url('../img/bck-footer.jpg') top left repeat-x;
	width:100%;
	min-height:90px;
	display:block;
	float:left;
	overflow:hidden;
	padding-top:3px;
	padding-bottom:3px;
}
div#footer div.left-footer{float:left; width:150px;}
div#footer div.right-footer{float:right;}
	div.right-footer ul li{
		float:left;
		display:inline;
		background:url('../img/img-separador.jpg') center right no-repeat;
		margin:0px 5px;
		padding-right:10px;
	}
	div.right-footer ul li:last-child{background:none; padding-right:0px;}
	div.right-footer ul li a{color:#b3b3b3;}
	div.right-footer ul li.active a{color:#fff;}
	div.right-footer ul li a:hover{color:#fff; text-decoration:none;}
#footer p{font-size:1.2em; color:#b3b3b3;}

/* GUÍA DE ESTILO */

div.presentacion{width:100%; overflow:hidden; float:right; margin-top:25px; margin-bottom:40px;}
div.caja-presentacion{width:100%; overflow:hidden; float:right; margin-top:25px; margin-bottom:40px;}
	div.caja-presentacion div.frase-presentacion{float:left; width:160px; margin-right:90px; margin-left:18px;}
		div.frase-presentacion h1{
			font-size:3.3em;
			color:#000;
			font-weight:900;
			line-height:120%;
			text-transform:uppercase;
			text-align:right;
			margin-right:10px;
			font-family:DINMittelschriftStd, Arial, Helvetica, sans-serif;
		}
			body#home div.frase-presentacion h1{color:#fff;}
			div.frase-presentacion h1 span.grande{font-size:1.971em;}
			div.frase-presentacion h1 span{font-size:1.353em;}
		div.frase-presentacion h2{
			font-size:1.8em;
			color:#BF0401;
			font-weight:900;
			margin-top:5px;
			text-transform:uppercase;
		}
	div.caja-presentacion div.img-bombones{float:left; width:260px; margin-right:50px; margin-top:20px;}
		body#intuicion div.img-bombones{background:url('../img/bombones-intuicion.png') -20px -14px no-repeat; height:250px;}
		body#leyenda div.img-bombones{background:url('../img/bombones-leyenda.png') -20px -14px no-repeat; height:250px;}
		body#infancia div.img-bombones{background:url('../img/bombones-infancia.png') -20px -14px no-repeat; height:250px;}
		body#atrevimiento div.img-bombones{background:url('../img/bombones-atrevimiento.png') -20px -14px no-repeat; height:250px;}
	
	div.presentacion div.txt-intro{float:right; width:300px; margin-right:140px;}
		div.txt-intro h1{text-transform:uppercase; font-size:1.8em; color:#000; font-family:NewsGothicStdRegular, Arial, Helvetica, sans-serif;}
		div.txt-intro p{font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; color:#717171; font-size:1.3em; line-height:140%;}
		div.txt-intro p span{color:#2d2d2d;}
	div.caja-presentacion div.txt-bombones{float:left; width:300px; margin-top:20px;}
		div.txt-bombones h1{text-transform:uppercase; font-size:1.8em; color:#bf0401; font-family:NewsGothicStdRegular, Arial, Helvetica, sans-serif;}
		div.txt-bombones h2{text-transform:uppercase; font-size:1.8em; color:#232323;}
		div.txt-bombones p{font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; color:#000; font-size:1.3em; line-height:140%;}
			div.actions{margin-top:15px}
				div.actions div.bt-facebook{float:left; width:70px; margin: 5px 10px 0px 0px;}
				div.actions div.bt-atreves{
					float:left;
					font-family:'PT Sans Narrow', Arial, Helvetica, sans-serif;
					padding:10px 30px 10px 0px;
					font-size:1.2em;
				}
				div.actions div.bt-atreves a{color:#fff; padding:5px 30px 5px 0px; background:url('../img/bt-atreves.png') right 0px no-repeat;}
					div.actions div.bt-atreves a:hover{text-decoration:none; background-position:right -25px;}
				div.actions div.bt-atreves span{background:#000; padding:5px 8px; font-family:NewsGothicStdRegular, Arial, Helvetica, sans-serif;}
	
div.caja-productos{width:2000px; height:400px; /*position:absolute;*/ left:-960px; margin:15px 0px; overflow-y:hidden;}
	li.carusel-product{
		background:url('../img/bck-producto.jpg') right 0px repeat-y;
		width:230px;
		margin-left:auto;
		margin-right:auto;
		display:inline-block;
		padding:0px 5px;
		background-position-x: -11px;
	}
	div.caja-productos div.img-productos{text-align:center; width: 222px; height: 215px; background: no-repeat center center;}
	div.caja-productos div.img-productos img{width: 168px;}
	div.caja-productos div.txt-productos{float:left; text-align:center; margin-top:20px;}
		div.txt-productos h1{text-transform:uppercase; font-size:1.3em; color:#bf0401; font-family:NewsGothicStdRegular, Arial, Helvetica, sans-serif;}
		div.txt-productos h2{text-transform:uppercase; font-size:1.3em; color:#232323;}
		div.txt-productos p{
			font-family:Arial, Helvetica, sans-serif;
			color:#696969;
			font-size:1.3em;
			line-height:140%;
			text-align:justify;
			padding:0px 18px;
			margin:5px 0px;
		}
        div.txt-productos p a{text-decoration: none; font-weight: bold;}
        div.txt-productos p a:hover{color: #bf0401;}
		div.precio-compra{text-align:center; overflow:hidden;}
			div.precio-compra p{display:inline-block; margin-right:5px; font-size:1.4em; font-weight:bold; color:#323232; padding:5px 18px;}
			div.precio-compra a{
				padding:7px 10px;
				background:url('../img/bt-comprar.jpg') top left no-repeat;
				height:28px;
				width:68px;
				font-size:1.1em;
				color:#b40606;
				font-weight:bold;
			}

div.contenidos-ficha{
	width:100%;
	float:left;
	overflow:hidden;
	margin-top:0px;
	margin-bottom:25px;
	position:relative;
	background:url('../img/bck-contenidos-ficha.jpg') top left repeat-y #fff;
	border-bottom:1px solid #E0E0E0;
}
	div.contenidos-ficha div.flecha-prev{position:absolute; left:0px; top:114px;}
	div.contenidos-ficha div.flecha-next{position:absolute; right:0px; top:114px;}

div.producto-contenidos{
	float:left;
	width:427px;
	padding:50px;
}
	div.producto-contenidos div.producto-inner{border-bottom:1px solid #e5e5e5; float:left; padding-bottom:30px;}
	div.producto-contenidos div.producto-img{float:left; width:175px; margin:0px 20px;}
	div.producto-contenidos div.producto-info{float:right; width:206px;}
		div.producto-info h2{color:#b40000; font-size:1.7em; text-transform:uppercase;}
		div.producto-info p{color:#696969; font-size:1.3em;}
		div.producto-info div.precio-compra{text-align:left; float:left; width:120px;}
			div.producto-info div.precio-compra p{padding:5px; color:#2d2d2d;}
			div.producto-info div.bt-facebook{float:left; width:75px; padding-top:15px;}
	div.producto-contenidos div.producto-descripcion{float:left; margin-top:20px;}
		div.producto-descripcion p{color:#696969; font-size:1.3em;}
	div.producto-contenidos div.bt-volver{position:absolute; bottom:30px; left:410px;}
	div.producto-caracteristicas div.bt-volver{position:absolute; bottom:30px; right:47px;}
		div.bt-volver a{color:#3c3c3c; font-size:1.2em; font-weight:bold; background:url('../img/bt-volver-ficha.jpg') center left no-repeat; padding-left:18px;}
div.producto-caracteristicas{
	float:right;
	width:295px;
	padding:50px;
}
	div.producto-caracteristicas h3{color:#414141; font-weight:bold; font-size:1.4em; margin-bottom:20px;}
	div.producto-caracteristicas ul{margin-left:0px;}
		div.producto-caracteristicas ul li{font-size:1.3em; line-height:150%; border-bottom:1px solid #E5E5E5; padding:8px 0px;}

div.proceso-compra{width:100%; float:left; overflow: hidden; margin-bottom: 40px;}
body#datos-entrega div.proceso-compra{margin-top:0px;}
body#confirmar-pedido div.proceso-compra{margin-top:0px;}
div.proceso-compra div.pasos-compra{margin-bottom:25px; float:left;}
	div.proceso-compra div.pasos-compra ul li{
		float:left;
		display:inline;
		width:25%;
		font-family:Arial, Helvetica, sans-serif;
		font-weight:bold;
		font-size:1.4em;
	}
	div.proceso-compra div.pasos-compra ul{margin-left:0px;}
	div.proceso-compra div.pasos-compra ul li.paso-1{background:url('../img/bck-inicio-pasos-cesta-inactive.jpg') center left no-repeat; padding:9px 7px;
width:216px; color:#59422b;}
	div.proceso-compra div.pasos-compra ul li.paso-2{background:url('../img/bck-pasos-cesta-centro.jpg') center left no-repeat; padding:9px 7px;
width:219px; color:#59422b;}
	div.proceso-compra div.pasos-compra ul li.paso-3{background:url('../img/bck-pasos-cesta-centro.jpg') center left no-repeat; padding:9px 7px;
	width:219px; color:#59422b;}
	div.proceso-compra div.pasos-compra ul li.paso-4{background:url('../img/bck-pasos-cesta-final.jpg') center left no-repeat; width:213px;}
	div.proceso-compra div.pasos-compra ul li.current-inicio{background:url('../img/bck-pasos-cesta-inicio-current.jpg') center left no-repeat; color:#fff; width:218px;}
	div.proceso-compra div.pasos-compra ul li.current{background:url('../img/bck-pasos-cesta-centro-current.jpg') center left no-repeat; color:#fff; width:218px;}
	div.proceso-compra div.pasos-compra ul li.current-2{background:url('../img/bck-pasos-cesta-final-current.jpg') center left no-repeat; color:#fff; width:218px;}
		div.proceso-compra div.pasos-compra ul li.current-inicio span{background:url('../img/flechas-pasos-on.png') center right no-repeat; text-indent:-9999px; width:20px; background-position: -1px 3px;}
		div.proceso-compra div.pasos-compra ul li.current span{background:url('../img/flechas-pasos-on.png') center right no-repeat; text-indent:-9999px; width:20px; background-position: -1px 3px;}
		div.proceso-compra div.pasos-compra ul li.current-2 span{background:url('../img/flechas-pasos-on.png') center right no-repeat; text-indent:-9999px; width:20px; background-position: -1px 3px;}
	div.proceso-compra div.pasos-compra ul li.inactive{background:url('../img/bck-inicio-pasos-cesta.jpg') center left no-repeat;}
	div.proceso-compra div.pasos-compra ul li.inactive-2{background:url('../img/bck-pasos-centro-cesta-inactive.jpg') center left no-repeat;}
	div.proceso-compra div.pasos-compra ul li{padding:9px 7px; width:219px; color:#59422b; text-align:center;}
		div.proceso-compra div.pasos-compra ul li span{background:url('../img/flechas-pasos.png') center right no-repeat; text-indent:-9999px; width:20px; background-position: -1px 3px;}

div.proceso-registro{width:100%; float:left; margin-top:0px; margin-bottom:40px;}
	
	div.cuadro-compra{width:922px; float:left; background:#f3ece0; border:1px solid #d3d3d3; margin-bottom:20px;}
		div.cuadro-compra table td{padding:3px 0px;}
		div.cuadro-compra table .col1{width:435px; padding: 0px 15px 0px 30px;}
		div.cuadro-compra table .col2{width:118px;}
		div.cuadro-compra table .col3{width:130px; text-align:center;}
		div.cuadro-compra table .col4{width:151px; text-align:center;}
		div.cuadro-compra table .col5{width:90px; padding:0px 10px 0px 15px; text-align:center;}
			div.cuadro-compra table th{background:#59422b; color:#fff; padding:10px 0px; font-size:1.2em; font-weight:bold;}
			div.cuadro-compra td.img-producto-cesta{width: 47px; padding:5px 10px 5px 30px;}
			div.cuadro-compra td.txt-producto-cesta{width:360px;}
			div.cuadro-compra tr:nth-child(2n){background:#fff;}
			div.cuadro-compra p.description{font-size:1.2em; color:#59422b; font-weight:bold;}
			div.cuadro-compra p.precio-ud{font-size:1.4em; color:#262626; font-weight:bold; text-align:center;}
			div.cuadro-compra p.precio-producto{font-size:1.4em; color:#262626; font-weight:bold; text-align:center;}
			div.cuadro-compra input.cantidad-productos{width:44px; border:1px solid #a9a9a9;}
			div.cuadro-compra td.bt-eliminar{text-align:center;}
			div.cuadro-compra td.subtotal-cesta{background:#c7bba6; padding:10px 0px; font-size:1.2em; font-weight:bold; border-bottom:1px solid #fff;}
			div.cuadro-compra td.codigo-descuento{background:#c7bba6; padding:10px 0px; font-size:1.2em; font-weight:bold; border-bottom:1px solid #fff;}
			div.cuadro-compra td.subtotal-col1{padding:0px 15px 0px 30px; width:650px; color:#59422b; font-weight:normal;}
			div.cuadro-compra td.subtotal-col2{text-align:right; width:180px; color:#59422b;}
			div.cuadro-compra td.codigo-col1{padding:0px 15px 0px 30px; width:650px; color:#59422b; font-weight:normal;}
			div.cuadro-compra td.codigo-col2{text-align:right; width:180px; color:#59422b;}
			div.cuadro-compra input.codigo-descuento{width:161px; border:1px solid #e4ded3;}
			div.cuadro-compra td.total-col1{padding:0px 15px 0px 30px; width:100px; font-weight:normal;}
			div.cuadro-compra td.total-col2{text-align:left; width:550px; font-weight:normal;}
			div.cuadro-compra td.total-col3{text-align:right; width:180px;}
	
	div.botones-pasos{float:left; overflow:hidden; width:922px;}
		div.boton-volver{
			float:left;
			background:url('../img/bt-volver.jpg') center left no-repeat;
			width:153px;
			height:25px;
			padding:10px 0px 0px 30px;
			font-size:1.3em;
			font-weight:bold;
		}
			div.boton-volver a{color:#fff;}
			div.boton-volver a:hover{color:#fff; text-decoration:none;}

		div.boton-modificar-datos{
			float:left;
			background:url('../img/bt-modificar-datos.jpg') center left no-repeat;
			width:207px;
			height:25px;
			padding:10px 0px 0px 35px;
			font-size:1.3em;
			font-weight:bold;
		}
			div.boton-modificar-datos a{color:#fff; margin-left:4px;}
			div.boton-modificar-datos a:hover{color:#fff; text-decoration:none;}
		div.boton-seguir{
			float:right;
			background:url('../img/bt-seguir.jpg') center left no-repeat;
			width:80px;
			height:25px;
			padding:10px 0px 0px 10px;
			font-size:1.3em;
			font-weight:bold;
		}
		div.boton-volver-tienda{
			float:right;
			background:url('../img/bt-volver-tienda.jpg') center left no-repeat;
			width:140px;
			height:25px;
			padding:12px 0px 0px 14px;
			font-size:1.2em;
			font-weight:bold;
		}
			div.boton-volver-tienda a{color:#fff;}
			div.boton-seguir a{color:#fff;}
			div.boton-seguir a:hover{color:#fff; text-decoration:none;}
	
	div.cuadro-registro{width:913px; float:left; border:1px solid #d3d3d3; padding:5px;}
		div.cuadro-registro p.aviso{color:#bd0000; font-weight:bold; font-size:1.077em;}
		div.cuadro-registro h1{background:#59422b; font-size:1.7em; color:#fff; padding: 9px 22px; font-family: NewsGothicStdRegular, Arial, Helvetica, sans-serif;}
		div.registro-inner{background:url('../img/bck-inner-marron.jpg') top left repeat-x #f3ece0; float:left; width:913px; color:#624930; font-size:1.3em;}
		body#registro-gris div.registro-inner,
        body#franquicias-formulario div.registro-inner{background:url('../img/bck-inner-contacto.jpg') left top repeat-x #E8E8E8; color:#464646;}
		body#registro-gris div.registro-inner a,
        body#franquicias-formulario div.registro-inner a{color:#464646;}
		body#registro-gris div.columna-derecha{background:url('../img/bck-registro-gris.jpg') bottom right no-repeat; height:400px; width:373px;}
        body#franquicias-formulario div.columna-derecha{background:transparent; height:auto; min-height: 0;}
		body#registro-gris div.columna-derecha input.enviar-button,
        body#franquicias-formulario div.columna-derecha input.enviar-button{
			float:right;
			background:url('../img/bt-enviar.jpg') center left no-repeat;
			width:86px;
			font-size:12px;
			border:0px;
			padding:10px 2px;
			font-weight:bold;
			color:#1A1A1A;
			cursor:pointer;
		}
		div.doblez{background:url('../img/bck-doblez.jpg') bottom right no-repeat #f3ece0;}
		body#registro div.registro-inner{background:url('../img/bck-inner-marron.jpg') top left repeat-x #f3ece0;}
			div.registro-inner div.columna-izquierda{float:left; width:250px; padding:20px; background:url('../img/bck-registro.jpg') top right repeat-y; min-height:273px;}
			body#pago div.registro-inner div.columna-izquierda{min-height:223px;}
				div.bt-registro{padding:15px 0px;}
					div.bt-registro a.registro{background:url('../img/bt-registro.jpg') center left no-repeat; width: 130px;
padding: 10px 21px; font-size:1.154em; font-weight:bold; color:#fff;}
					div.bt-registro a.registro:hover{text-decoration:none;}
				div.bt-pago-invitado{padding:15px 0px;}
					div.bt-pago-invitado a.pago-invitado{background:url('../img/bt-pago-invitado.jpg') center left no-repeat; width:187px;
padding: 10px 21px; font-size:1.154em; font-weight:bold; color:#fff;}
					div.bt-pago-invitado a.pago-invitado:hover{text-decoration:none;}
			div.registro-inner div.columna-centro{float:left; width:250px; padding:20px; background:url('../img/bck-registro.jpg') top right repeat-y; min-height:273px;}
			div.registro-inner div.columna-derecha{float:left; width:250px; padding:20px; min-height:273px;}
				div.columna-derecha div.label-usuario{margin:10px 0px; font-weight:bold;}
				div.columna-derecha div.campo-usuario{margin:10px 0px;}
					div.campo-usuario input.usuario{width:258px; border:0px; border-top:1px solid #d1cbc5; padding:3px 5px;}
				div.columna-derecha div.label-pass{margin:10px 0px; font-weight:bold;}
				div.columna-derecha div.campo-pass{margin:10px 0px;}
					div.campo-pass input.pass{width:258px; border:0px; border-top:1px solid #d1cbc5; padding:3px 5px;}
				div.columna-derecha div.acciones-login{overflow:hidden; width:270px;}
					div.acciones-login a.olvido-pass{text-decoration:underline; width:83px; float:left; line-height:140%; font-weight:bold; color:#624930;}
					div.acciones-login input.entrar-login{
						float:right;
						background:url('../img/bt-entrar.jpg') center left no-repeat;
						width:80px;
						border:0px;
						padding:8px 2px 10px 2px;
						font-size:1.154em;
						font-weight:bold;
						color:#fff;
					}
					p.introduce-datos{margin-top:24px;}

div.proceso-registro{width:100%; float:left; overflow: hidden; margin-top:-24px; margin-bottom:40px;}
	div.cuadro-registro-2{width:913px; margin-top:0px; margin-bottom:20px; float:left; border:1px solid #d3d3d3; padding:5px;}
	body#modificar-datos div.cuadro-registro-2{width:692px;}
	body#modificar-datos div.registro-inner{width:692px; background:url('../img/bck-modificar-datos.jpg') bottom right no-repeat #f3ece0;}
	div.cuadro-registro-2 div.registro-inner div.columna-izquierda{
		float:left;
		width:460px;
		padding:20px;
		background:none;
	}
		body#modificar-datos div.cuadro-registro-2 div.registro-inner div.columna-izquierda{
			float:left;
			width:480px;
			padding:20px;
			background:none;
		}
		body#modificar-datos div.cuadro-registro-2 div.columna-izquierda div.campo-pais input.pais{margin-left:120px;}
		body#modificar-datos div.cuadro-registro-2 div.columna-izquierda div.campo-provincia input.provincias{margin-left:87px;}
		body#modificar-datos div.cuadro-registro-2 div.selects{padding-left:31px;}
		body#modificar-datos div.cuadro-registro-2 div.options{padding-left:155px;}
		body#datos-entrega div.cuadro-registro-2 div.registro-inner div.columna-izquierda{
			padding:20px 20px 0px 20px;
			min-height:223px;
		}
	div.cuadro-registro-2 div.registro-inner div.columna-derecha{
		float:left;
		width:325px;
		padding:20px;
		background:url('../img/bck-registro-2.jpg') bottom right no-repeat;
		height:400px;
	}
		body#registro div.cuadro-registro-2 div.registro-inner div.columna-derecha{
			width:373px;
		}
		body#registro div.cuadro-registro-2 div.registro-inner div.columna-derecha form{width:335px;}
		body#datos-entrega div.cuadro-registro-2 div.registro-inner div.columna-derecha{
			padding:20px 20px 0px 20px;
			height:120px;
			background:none;
			min-height:120px;
		}
		div.cuadro-registro-2 h1{background:#59422b; font-size:1.7em; color:#f3ece0; padding: 9px 22px; font-family:NewsGothicStdRegular, Arial, Helvetica, sans-serif;}
			body#registro-gris div.cuadro-registro-2 h1{background:#232323; color:#F3ECE0; font-family:NewsGothicStdRegular, Arial, Helvetica, sans-serif;}
			body#franquicias-formulario div.cuadro-registro-2 h1{background:#232323; color:#F3ECE0; font-family:NewsGothicStdRegular, Arial, Helvetica, sans-serif;}
		div.barra-titulo{position:relative; float:left; width:100%;}
		div.bt-modificar-datos{position:absolute; top:14px; right:20px; font-size:1.2em;}
			div.bt-modificar-datos a{color:#b5aca3; font-weight:bold;}
				div.cuadro-registro-2 div.columna-izquierda input{
					float:right;
					width:295px;
					border:0px;
					border-top:1px solid #d1cbc5;
					padding:3px 5px;
					margin-right:20px;
				}
					div.cuadro-registro-2 div.columna-izquierda div.campo-pais input.pais{width:160px; float:left; margin-left:100px;}
					body#datos-entrega div.cuadro-registro-2 div.columna-izquierda div.campo-pais input.pais{width:160px; float:left; margin-left:99px;}
					div.cuadro-registro-2 div.columna-izquierda div.campo-provincia input.provincias{width:160px; float:left; margin-left:67px;}
					div.cuadro-registro-2 div.columna-izquierda div.campo-nif input{width:87px; margin-right:228px;}
					div.cuadro-registro-2 div.columna-izquierda div.campo-tarjeta input{margin-right:0px;}
				div.cuadro-registro-2 div.columna-derecha input{
					float:right;
					width:164px;
					border:0px;
					border-top:1px solid #d1cbc5;
					padding:3px 5px;
					margin-right:5px;
				}
				div.cuadro-registro-2 div.columna-izquierda select{
					float:right;
					width:46px;
					border:1px solid white;
					border-top:1px solid #D1CBC5;
					padding:2px 3px;
					margin-left:10px;
					margin-right:20px;
				}
				div.cuadro-registro-2 span.obligatorio{color:#bd0000;}
				div.cuadro-registro-2 span.campo-respuesta{color:#383838; font-weight:normal;}
				div.cuadro-registro-2 div.label{margin-top:3px; font-weight:bold; float:left;}
				div.cuadro-registro-2 div.campo-nombre{margin:10px 0px; overflow:hidden; height:20px;}
				div.cuadro-registro-2 div.campo-nif{margin:10px 0px; overflow:hidden; height:25px;}
				div.cuadro-registro-2 div.campo-apellidos{margin:10px 0px; overflow:hidden; height:20px;}
				div.cuadro-registro-2 div.campo-nacimiento{margin:10px 0px; overflow:hidden; height:25px;}
				div.cuadro-registro-2 div.campo-sexo{margin:10px 0px; overflow:hidden; height:25px;}
				div.cuadro-registro-2 div.campo-telefono{margin:10px 0px; overflow:hidden; height:20px;}
				div.cuadro-registro-2 div.campo-direccion{margin:10px 0px; overflow:hidden; height:20px;}
				div.cuadro-registro-2 div.campo-pais{margin:10px 0px; overflow:hidden; height:20px;}
				div.cuadro-registro-2 div.campo-provincia{margin:10px 0px; overflow:hidden; height:20px;}
				div.cuadro-registro-2 div.campo-poblacion{margin:10px 0px; overflow:hidden; height:20px;}
				div.cuadro-registro-2 div.campo-cp{margin:10px 0px; overflow:hidden; height:20px;}
				div.cuadro-registro-2 div.campo-mail{margin:10px 0px; overflow:hidden; height:20px;}
				div.cuadro-registro-2 div.campo-confirmmail{margin:10px 0px; overflow:hidden; height:25px;}
				div.cuadro-registro-2 div.campo-pass{margin:10px 0px; overflow:hidden; height:25px;}
				div.cuadro-registro-2 div.campo-confirmpass{margin:10px 0px; overflow:hidden; height:25px;}
				div.cuadro-registro-2 div.campo-newsletter{margin:10px 0px; overflow:hidden; height:18px;}
				div.cuadro-registro-2 div.campo-condiciones{margin:10px 0px; overflow:hidden; height:30px;}
				div.cuadro-registro-2 div.campo-regalar{margin-top:20px;}
					div.campo-condiciones a{color:#624930; font-weight:bold; text-decoration:underline;}
						div.campo-condiciones a:hover{text-decoration:none;}
					div.cuadro-registro-2 div.selects{padding-left:11px; float:left;}
					div.cuadro-registro-2 div.options{padding-left:135px; height: 25px; line-height: 25px;}
						div.cuadro-registro-2 div.options label{font-weight:bold;}
						div.cuadro-registro-2 div.columna-izquierda div.options input{width:30px; float:none;}
						div.cuadro-registro-2 div.checkbox input{width:15px; float:left; border:0px;}
							body#modificar-datos div.cuadro-registro-2 div.checkbox input{width:16px; float:left; margin-right:8px;}
						div.cuadro-registro-2 div.checkbox label{line-height:130%; width:250px; display:block; padding-left:18px; font-size:0.846em; float:none;}
					div.cuadro-registro-2 div.campo-cp input{width:63px; margin-right:252px;}
					body#datos-entrega div.cuadro-registro-2 div.campo-cp input{width:63px; margin-right:106px;}
				div.cuadro-registro-2 div.columna-izquierda div.acciones{overflow:hidden; width:270px;}
					div.cuadro-registro-2 div.acciones input.registro-button{
						float:right;
						background:url('../img/bt-registro-3.jpg') center left no-repeat;
						width:104px;
						border:0px;
						padding:10px 2px;
						font-size:1em;
						font-weight:bold;
						color:#fff;
					}
					div.cuadro-registro-2 div.acciones input.actualizar-button{
						float:left;
						background:url('../img/bt-registro-3.jpg') center left no-repeat;
						width:104px;
						border:0px;
						padding:10px 2px;
						font-size:1em;
						font-weight:bold;
						color:#fff;
					}
				div.cuadro-registro-2 div.personalizar-regalo{padding:0px 20px 20px 20px; width:873px; float:left;}
					div.cuadro-registro-2 div.personalizar-regalo label{display:block; margin:10px 0px; font-weight:bold;}
					div.cuadro-registro-2 div.personalizar-regalo textarea{
						float:left;
						width:861px;
						border:0px;
						border-top:1px solid #D1CBC5;
						padding: 3px 5px;
						height:98px;
					}
				div.cuadro-registro-2 div.escoge-direccion{/*float:left;*/ width:873px; padding:20px 20px 0px 20px;
min-height:70px;}
				div.cuadro-registro-2 div.peq{min-height:50px;}
					div.escoge-direccion div.options{padding-left:0px; width:240px;}
						div.escoge-direccion div.options label{font-weight: bold; display:block; clear:both; float:left; margin-right:10px;}
						div.escoge-direccion div.options input{float:right; margin-top:7px;}
							div.escoge-direccion div.options div.option2 input{margin-left:68px;}
							div.escoge-direccion div.facturacion div.option2 input{margin-left:0px;}
						div.escoge-direccion div.campo-factura div.options input{float:none;}
							div.escoge-direccion div.options div.option1{margin:10px 0px; float:left;}
							div.escoge-direccion div.options div.option2{margin:10px 0px; float:left;}
								body#datos-entrega div.escoge-direccion div.options div.option1{margin:5px 0px;}
								body#datos-entrega div.escoge-direccion div.options div.option2{margin:5px 0px 10px 0px;}
							div.escoge-direccion div.campo-factura div.options p{float:left;}
							div.escoge-direccion div.campo-factura div.options div.option1{margin:10px 10px; float:left;}
							div.escoge-direccion div.campo-factura div.options div.option2{margin:10px 10px; float:left;}
				div.cuadro-registro-2 div.seleccion-destinatario{padding:0px 50px; background:url('../img/bck-destinatario.jpg') center left repeat-x; float:left;
width:813px;}
					div.cuadro-registro-2 div.seleccion-destinatario p{background:#f3ece0; float:left; padding:0px 10px; margin:0px;}
				
				div.cuadro-registro-2 div.seleccion-direccion{float:left; padding:0px 40px;}
					body#datos-entrega div.cuadro-registro-2 div.seleccion-direccion div.columna-izquierda{width:420px; min-height:178px;}
					body#datos-entrega div.cuadro-registro-2 div.seleccion-direccion div.columna-derecha{min-height:178px;}
				
				
				div.cuadro-registro-2 div.seleccion-facturacion{padding:0px 50px; background:url('../img/bck-destinatario.jpg') center left repeat-x; float:left;
width:813px;}
					div.cuadro-registro-2 div.seleccion-facturacion p{background:#f3ece0; float:left; padding:0px 10px; margin:0px;}
				
				div.cuadro-registro-2 div.seleccion-factura{float:left; padding:0px 40px;}
					body#datos-entrega div.cuadro-registro-2 div.seleccion-factura div.columna-izquierda{width:480px; min-height:128px;}

				div.cuadro-registro-2 div.escoge-entrega{padding:20px 30px; float: left;}
				div.cuadro-registro-2 div.calendario{float:left; margin-right:15px;}
				div.cuadro-registro-2 div.informacion-interes{float:left;}
				div.cuadro-registro-2 div.informacion-interes h1{
					background:#fff;
					font-family:Arial;
					font-size:1em;
					color:#bd0000;
					width:575px;
					padding:7px 10px 7px 25px;
					font-weight:bold;
				}
				div.cuadro-registro-2 div.interes-content{
					margin-top:3px;
					background:#fff;
					font-family:Arial;
					font-size:12px;
					width:575px;
					padding:7px 10px 7px 25px;
					line-height:150%;
					min-height:180px;
				}
					div.cuadro-registro-2 div.interes-content ul{margin-left:0px;}
					div.cuadro-registro-2 div.interes-content ul li{margin:4px 0px;}
				div.cuadro-registro-2 div.fechas-sugeridas{clear:both; float:left; margin-top:10px;}
					div.cuadro-registro-2 div.fechas-sugeridas p{margin:2px 0px;}
						div.cuadro-registro-2 div.fechas-sugeridas p.fechas-sugeridas{background:url('../img/bck-sugeridas.jpg') center left no-repeat; padding-left: 15px;}
						div.cuadro-registro-2 div.fechas-sugeridas p.fechas-sabados{background:url('../img/bck-sabados.jpg') center left no-repeat; padding-left: 15px;}
						div.cuadro-registro-2 div.fechas-sugeridas p.fechas-noentregas{background:url('../img/bck-noentregas.jpg') center left no-repeat; padding-left: 15px;}
				div.cuadro-registro-2 div.observacion-regalo{float:left;}
					div.cuadro-registro-2 div.observacion-regalo label{display:block; margin:10px 0px; font-weight:bold;}
					div.cuadro-registro-2 div.observacion-regalo textarea{
						float:left;
						width:833px;
						border:0px;
						border-top:1px solid #D1CBC5;
						padding:3px 5px;
						height:98px;
					}
		div.cuadro-registro-2 div.resumen-izquierda{float:left; width:303px; border-right: 1px solid white;}
		div.cuadro-registro-2 div.resumen-centro{float:left; width:303px; border-right: 1px solid white;}
		div.cuadro-registro-2 div.resumen-derecha{float:left; width:304px;}
		div.cuadro-registro-2 div.resumen-izquierda div.barra-titulo{float:left; width:304px;}
			div.cuadro-registro-2 div.resumen-izquierda div.columna-izquierda{width:264px; min-height:190px;}
			div.cuadro-registro-2 div.resumen-centro div.columna-izquierda{width:264px; min-height:190px;}
			div.cuadro-registro-2 div.resumen-derecha div.columna-izquierda{width:265px; min-height:190px;}
			div.cuadro-registro-2 div.resumen-izquierda div.registro-inner{width:303px;}
			div.cuadro-registro-2 div.resumen-centro div.registro-inner{width:303px;}
			div.cuadro-registro-2 div.resumen-derecha div.registro-inner{width:304px;}
			div.cuadro-registro-2 div.modificar-datos{color:#624930; font-weight:bold;}
				div.cuadro-registro-2 div.modificar-datos a{color:#624930; font-weight:bold; text-decoration:underline;}
				div.cuadro-registro-2 div.modificar-datos a:hover{text-decoration:none;}
		
		body#confirmar-pedido div.cuadro-registro-2{margin-bottom:20px;}
		body#confirmar-pedido div.cuadro-compra table .col1 {width:596px;}
		body#confirmar-pedido div.cuadro-compra td.gastos-envio {
			background: #C7BBA6;
			padding: 10px 0px;
			font-size: 1.2em;
			font-weight: bold;
			border-bottom: 1px solid white;
		}

		div.cuadro-registro-2 div.mensaje-personal{float:left; width:873px; padding:20px 20px 0px 20px; min-height:114px;}
			div.cuadro-registro-2 div.mensaje-personal p{font-size:1.077em; line-height:160%;}
			div.cuadro-registro-2 div.mensaje-personal a{text-decoration:underline; color:#624930; font-size:0.929em; font-weight:bold;}
			div.cuadro-registro-2 div.mensaje-personal a:hover{text-decoration:none;}
		
		div.boton-pago{
			float:right;
			background:url('../img/bt-pago.jpg') center left no-repeat;
			width:131px;
			height:24px;
			padding:10px 0px 0px 10px;
			font-size:1.3em;
			font-weight:bold;
		}
			div.boton-pago a{color:#fff;}
			div.boton-pago a:hover{color:#fff; text-decoration:none;}

		h1.doblez-2{background:url('../img/bck-doblez-2.jpg') bottom right no-repeat #59422b!important;}
		h1.doblez-2 a{color:#fff; background:url('../img/arrow-link-doblez-2.jpg') bottom right no-repeat; padding-right:20px; background-position-y:9px;}
		h1.doblez-2 a:hover{color:#fff; text-decoration:none;}

		div.cuadro-registro-2 div.campo-referencia {margin:10px 0px; overflow:hidden; height:20px;}
		div.cuadro-registro-2 div.campo-importe {margin:10px 0px; overflow:hidden; height:20px;}
		div.cuadro-registro-2 div.campo-tarjeta {margin:10px 0px; overflow:hidden; height:20px;}
		div.cuadro-registro-2 div.campo-caducidad {margin:10px 0px 8px 0px; overflow:hidden; height:25px;}
		div.cuadro-registro-2 div.campo-seguridad {margin:8px 0px 10px 0px; overflow:hidden; height:20px;}
			div.cuadro-registro-2 div.campo-seguridad input{width:63px; margin-right:232px;}
			div.cuadro-registro-2 div.campo-seguridad div.input{float:right; width:80px;}
			div.cuadro-registro-2 div.campo-seguridad div.link-seguridad{float:right; margin-right:50px; margin-top:4px;}
				div.cuadro-registro-2 div.campo-seguridad div.link-seguridad a{color:#624930; font-weight:bold; text-decoration:underline;}
			div.cuadro-registro-2 div.campo-caducidad label{float:right; padding:6px 0px 0px 10px; font-weight:bold;}
			div.cuadro-registro-2 div.campo-caducidad div.selects{padding-left:16px; float:right;}
				div.cuadro-registro-2 div.campo-caducidad div.selects select{margin-right:0px;}
		div.cuadro-registro-2 div.campo-respuesta {
			font-weight:normal;
			float:right;
			width:295px;
			border:0px;
			padding:3px 5px;
		}
		div.bt-pagar{padding:10px 0px;}
			div.bt-pagar a.pagar {
				background: url('../img/bt-entrar.jpg') center left no-repeat;
				width: 130px;
				padding: 10px 21px;
				font-size: 1.154em;
				font-weight: bold;
				color: white;
			}
		div.boton-pago {
			float: right;
			background: url('../img/bt-pago.jpg') center left no-repeat;
			width: 121px;
			height: 25px;
			padding: 10px 0px 0px 10px;
			font-size: 1.3em;
			font-weight: bold;
		}
		div.columna-derecha-pago{
			float:right;
			background:url('../img/bck-visa.jpg') top right no-repeat #d6cabb;
			width:200px;
			height:180px;
			margin:20px;
			padding:15px;
			background-position-y:20px;
			background-position-x:128px;
		}
		div.columna-derecha-pago h2{
			float:left;
			width:115px;
			color:#624930;
			font-weight:bold;
			line-height:120%;
			padding-top:8px;
		}
		div.columna-derecha-pago p{margin-top:70px; line-height:140%;}

		div.proceso-compra div.sticker-gracias{
			width:491px;
			height:213px;
			background:url('../img/bck-gracias.jpg') top right no-repeat;
			margin:0 auto;
			padding:20px 75px 20px 20px;
		}
			div.proceso-compra div.sticker-gracias p{font-size:1.4em; color:#fff; line-height:150%;}
				div.sticker-gracias strong.pedido{text-decoration:underline;}

		div.cuadro-cuenta{width:674px; float:left; background:#c7bba6; border:1px solid #d3d3d3; margin-bottom:20px;}
		div.cuadro-cuenta table td{padding:3px 0px;}
		div.cuadro-cuenta table .col1{width:404px; padding: 0px 15px 0px 30px;}
		div.cuadro-cuenta table .col1-2{width:230px; padding: 0px 15px 0px 30px;}
		div.cuadro-cuenta table .col2{width:111px;}
		div.cuadro-cuenta table .col2-2{width:148px; text-align:center;}
		div.cuadro-cuenta table .col3{width:95px; text-align:center;}
		div.cuadro-cuenta table .col4{width:68px; text-align:center; padding:0px 10px 0px 15px;}
			div.cuadro-cuenta table th{background:#59422b; color:#fff; padding:10px 0px; font-size:1.2em; font-weight:bold;}
			div.cuadro-cuenta table p{margin:7px 0px;}
			div.cuadro-cuenta td.numero-pedido{width:360px; padding:5px 10px 5px 30px;}
				div.cuadro-cuenta td.numero-pedido-2{width:485px; padding:5px 10px 5px 30px;}
				div.cuadro-cuenta td.numero-pedido-3{width:200px; padding:5px 10px 5px 30px;}
			div.cuadro-cuenta tr:nth-child(2n){background:#dad3c5; border-bottom:1px solid #fff; border-top:1px solid #fff;}
				div.cuadro-cuenta tr.pedido-desplegado{background:#fff; color:#262626; display: none; }
				div.cuadro-cuenta tr.pedido-desplegado tr{background:#fff; color:#262626;}
					div.cuadro-cuenta tr.pedido-desplegado tr td{border-right:1px solid #f2f0eb;}
				div.cuadro-cuenta tr.pedido-desplegado tr:nth-child(2n){border-top:1px solid #dedede;}
			div.cuadro-cuenta p.description{font-size:1.2em; color:#43392d; font-weight:bold;}
				div.cuadro-cuenta tr.pedido-desplegado p.description{font-weight:normal; color:#262626;}
			div.cuadro-cuenta p.fecha-entrega{font-size:1.2em; color:#43392d; font-weight:bold;}
				div.cuadro-cuenta tr.pedido-desplegado p.fecha-entrega{font-weight:normal; color:#262626;}
			div.cuadro-cuenta p.estado-entrega{font-size:1.2em; color:#43392d; font-weight:bold; text-align:center;}
			div.cuadro-cuenta p.precio-ud{font-size:1.4em; color:#43392d; font-weight:bold; text-align:center;}
				div.cuadro-cuenta tr.pedido-desplegado p.precio-ud{font-weight:normal; color:#262626;}
			div.cuadro-cuenta p.precio-producto{font-size:1.4em; color:#43392d; font-weight:bold; text-align:center;}
				div.cuadro-cuenta tr.pedido-desplegado p.precio-producto{font-weight:normal; color:#262626;}
			div.cuadro-cuenta td.subtotal-cesta{background:#c7bba6; padding:10px 0px; font-size:1.2em; font-weight:bold; border-bottom:1px solid #fff;}
			div.cuadro-cuenta td.subtotal-col1{padding:0px 15px 0px 30px; width:650px; color:#59422b;}
			div.cuadro-cuenta td.subtotal-col2{text-align:right; width:180px; color:#59422b;}
			div.cuadro-cuenta td.total-col1{padding:0px 15px 0px 30px; width:100px;}
			div.cuadro-cuenta td.total-col2{text-align:left; width:550px;}
			div.cuadro-cuenta td.total-col3{text-align:right; width:180px;}

		div.navegacion-cuenta{width:207px; float:right; border:1px solid #d3d3d3;}
			div.navegacion-cuenta h1{
				background:#59422B;
				font-size:2em;
				color:white;
				padding:9px 22px;
				font-family: DINEngschriftStd, Arial, Helvetica, sans-serif;
			}
			div.navegacion-cuenta ul{margin-left:0px;}
			div.navegacion-cuenta ul li{
				padding:9px 22px;
				font-size:1.4em;
				color:#59422B;
				background:#ebe4d8;
				border-bottom:1px solid #fff;
			}
				div.navegacion-cuenta ul li.current{font-weight:bold;}
		div.ofertas-relacionadas{width:930px; float:left; border:1px solid #d7d7d7; background:#fff;}
			div.ofertas-relacionadas h1{
				background:#303030;
				font-size:1.5em;
				color:white;
				padding:6px 22px;
				font-family:Helvetica, Arial, sans-serif;
				font-weight:bold;
			}
			div.ofertas-relacionadas ul li{
				width:231px;
				float:left;
				background:url('../img/bck-producto.jpg') right 0px repeat-y;
				background-position-x:-11px;
			}
				div.ofertas-relacionadas ul li img{margin:20px; float:left;}
				div.ofertas-relacionadas div.texto{margin-top:30px;}
					div.ofertas-relacionadas div.texto p.titulo{font-size:1.2em; color:#bd0000; font-weight:bold; margin:3px 0px;}
					div.ofertas-relacionadas div.texto p.precio{font-size:1.2em; color:#2d2d2d; font-weight:bold; margin:3px 0px;}

.contenidos .contenidos-inner div.mapa-content{width:100%; background: url('../img/bck-mapa-web.jpg') left top repeat-x; float:left; font-size:1.077em; margin-bottom:40px;}
.contenidos .contenidos-inner div.mapa-content ul{float:left; width:140px; margin:0px 30px;}
	.contenidos-inner div.mapa-content ul li.titulo{color:#bd0000; font-weight:bold; margin-bottom:20px;}
	.contenidos-inner div.mapa-content ul li.subtitulo{font-weight:bold;}
	.contenidos-inner div.mapa-content ul li.dotted{border-bottom:1px dotted #686868; padding-bottom:6px;}
	.contenidos-inner div.mapa-content ul li{margin:5px 0px;}

.contenidos .contenidos-inner{font-size:1.3em; line-height:150%;}	
.contenidos .contenidos-inner h1{font: normal 1.4em Arial, Helvetica, sans-serif;}
.contenidos .contenidos-inner h3 a{font-weight:bold; border-bottom: 1px solid #DFDFDF; font-size:14px;}
.contenidos .contenidos-inner dl dt{padding:0px 0 20px; color: #bd0000; border-bottom: 1px solid #dfdfdf; font-weight: bold;}
	.contenidos .contenidos-inner dl dt.mapa-titulo{border-bottom:0px;}
	body#contacto .contenidos .contenidos-inner dl dt{border-bottom:0px;}
	body#confirmacion-registro .contenidos .contenidos-inner dl dt{border-bottom:0px;}
	body#newsletter .contenidos .contenidos-inner dl dt{border-bottom:0px;}
.contenidos .contenidos-inner dl dd{margin:0px; line-height:150%;}
	body#confirmacion-registro .contenidos .contenidos-inner dl dd{width:200px;}
	body#newsletter .contenidos .contenidos-inner dl dd{width:329px;}
.contenidos .contenidos-inner dl dd ul li{margin: 10px 0;}
.contenidos .contenidos-inner dl dd ul li p{margin:5px 0; line-height:150%;}
.contenidos .contenidos-inner dl dd ul li p.p-title{text-decoration:none;}
.contenidos .contenidos-inner dl dd ul li .p-title{font-weight: bold; color: #2e2d2d; text-decoration: underline;}

.contenidos .contenidos-inner div.formulario-contacto{
	width:544px;
	margin-top:0px;
	margin-bottom:20px;
	float:left;
	border:1px solid #d3d3d3;
	padding:5px;
}
body#inicio-sesion .contenidos .contenidos-inner div.formulario-contacto{width:910px;}
.contenidos .contenidos-inner div.formulario-contacto h1{
	background:#232323;
	font-size:1.3em;
	color:#f3ece0;
	padding:9px 22px;
	font-family:NewsGothicStdRegular, Arial, Helvetica, sans-serif;
}
.contenidos .contenidos-inner  div.contacto-inner{
	background:url('../img/bck-inner-contacto.jpg') left top repeat-x #e8e8e8;
	float:left;
	width:544px;
	color:#624930;
}
	body#inicio-sesion .contenidos .contenidos-inner  div.contacto-inner{width:910px;}
.contenidos .contenidos-inner div.contacto-inner div.campo-nombre{margin:5px 0px; height:50px; overflow:hidden;}
.contenidos .contenidos-inner div.contacto-inner div.campo-email{margin:5px 0px; height:50px; overflow:hidden;}
.contenidos .contenidos-inner div.contacto-inner div.campo-consulta{margin:5px 0px; height:50px; overflow:hidden;}
.contenidos .contenidos-inner div.contacto-inner div.campo-usuario{margin:5px 0px; height:50px; overflow:hidden;}
.contenidos .contenidos-inner div.contacto-inner div.campo-pass{margin:5px 0px; height:50px; overflow:hidden;}
.contenidos .contenidos-inner div.contacto-inner div.columna-izquierda {
	float:left;
	width:505px;
	padding:20px;
	background:none;
}
	body#inicio-sesion div.contacto-inner div.columna-izquierda{width:415px; background: url('../img/bck-inicio-sesion.jpg') top right repeat-y; min-height:237px;}
	body#inicio-sesion div.contacto-inner div.columna-derecha {
		float:left;
		width:415px;
		padding:20px;
		background:none;
		background: url('../img/bck-inicio-sesion-2.jpg') bottom left no-repeat;
		min-height:237px;
	}
	body#inicio-sesion div.contacto-inner div.columna-izquierda p{color:#464646; font-weight:bold;}
	body#inicio-sesion div.contacto-inner div.columna-derecha p{color:#464646; font-weight:bold;}
	body#inicio-sesion div.contacto-inner div.columna-derecha li{color:#464646; font-weight:bold;}
.contenidos .contenidos-inner div.contacto-inner div.label{margin-top:3px; font-weight:bold; float:left; color:#464646;}
	body#inicio-sesion .contenidos .contenidos-inner div.contacto-inner div.label{clear:both; float:none;}
	body#inicio-sesion div.acciones p{float:left; width:200px;}
	body#inicio-sesion div.acciones{margin-top:15px;}
	body#inicio-sesion div.acciones a.olvido-pass{color:#bd0000; font-weight:normal;}
	body#inicio-sesion div.contacto-inner div.acciones input.enviar-button{width:86px; font-size:12px}
	body#inicio-sesion div.columna-derecha div.acciones{float:right; margin-top:60px;}
	body#inicio-sesion div.columna-derecha div.acciones input.enviar-button{width:86px; font-size:12px}
.contenidos .contenidos-inner div.contacto-inner input{
	float:right;
	width:498px;
	border:0px;
	border-top:1px solid #D1CBC5;
	padding:3px 5px;
}
.contenidos .contenidos-inner div.contacto-inner input.num-consulta{
	float:right;
	width:117px;
	border:0px;
	border-top:1px solid #D1CBC5;
	padding:3px 5px;
	background:#f9f9f9;
}
.contenidos .contenidos-inner div.contacto-inner div.campo-numero-pedido{
	margin:20px 0px 5px 0px;
	height:24px;
	overflow:hidden;
}
.contenidos .contenidos-inner div.contacto-inner div.campo-numero-pedido div.label {
	margin-top:3px;
	font-weight:bold;
	float:right;
	color:#c4c4c4;
	margin-right:15px;
}
.contenidos .contenidos-inner div.contacto-inner div.consulta label {
	display: block;
	margin: 0px 0px 5px 0px;
	font-weight: bold;
	color: #464646;
}
body#newsletter div.contenidos-inner div.newsletter input{
	width:326px;
	border:0px;
	border-top:1px solid #D1CBC5;
	padding:3px 5px;
}

body#newsletter div.contenidos-inner div.acciones input.enviar-button {
	background: url('../img/bt-newsletter.jpg') center left no-repeat;
	width:70px;
	border:0px;
	padding:10px 2px;
	font-size:12px;
	font-weight:bold;
	color:#1A1A1A;
	cursor:pointer;
	margin-top:20px;
	margin-left:270px;
}
	body#inicio-sesion .contenidos .contenidos-inner div.contacto-inner input{width:266px; float:left;}
	body#inicio-sesion .contenidos .contenidos-inner div.contacto-inner div.campo{clear:both;}
.contenidos .contenidos-inner div.contacto-inner div.selects {
	padding-left:0px;
	float:left;
}
.contenidos .contenidos-inner div.contacto-inner select {
	float:right;
	width:505px;
	border:1px solid white;
	border-top:1px solid #D1CBC5;
	padding:2px 3px;
	margin-left:0px;
}
.contenidos .contenidos-inner div.contacto-inner div.consulta{
	padding:0px 20px 20px 0px;
	width:450px;
	float:left;
}
.contenidos .contenidos-inner div.contacto-inner label{
	display:block;
	margin:10px 0px;
	font-weight:bold;
	color:#464646;
}
.contenidos .contenidos-inner div.contacto-inner textarea{
	float:left;
	width:495px;
	border:0px;
	border-top:1px solid #D1CBC5;
	padding:3px 5px;
	height:98px;
}
.contenidos .contenidos-inner div.contacto-inner input.enviar-button {
	float:right;
	background:url('../img/bt-enviar.jpg') center left no-repeat;
	width:87px;
	border:0px;
	padding:10px 2px;
	font-size:1.154em;
	font-weight:bold;
	color:#1a1a1a;
	cursor:pointer;
}
.contenidos .contenidos-inner div.info-contacto{
	background:url('../img/bck-contacto.jpg') bottom left no-repeat;
	width:300px;
	min-height:464px;
	float:left;
	margin-left:40px;
}
	div.info-contacto h3{font-weight:bold; color:#282828;}
	div.info-contacto p{margin:0px;}
	div.info-contacto div.tag-sampaka{margin-bottom:20px;}
	div.info-contacto div.donde{border-bottom:1px solid #DFDFDF; padding-left:40px; background:url('../img/ico-donde.jpg') top left no-repeat; padding-bottom:8px;}
	div.info-contacto div.telefono{border-bottom:1px solid #DFDFDF; margin-top:10px; padding-left:40px; background:url('../img/ico-telefono.jpg') top left no-repeat; padding-bottom:8px;}
	div.info-contacto div.mail{border-bottom:1px solid #DFDFDF; margin-top:10px; padding-left:40px; background:url('../img/ico-mail.jpg') top left no-repeat; padding-bottom:8px;}

/* accordion */

#accordion .ui-corner-all, #accordion .ui-corner-bottom, #accordion .ui-corner-right, #accordion .ui-corner-br, #accordion .ui-corner-all, .ui-corner-bottom, #accordion .ui-corner-left, #accordion .ui-corner-bl, #accordion .ui-corner-all, #accordion .ui-corner-bottom, #accordion .ui-corner-left, #accordion .ui-corner-bl, #accordion .ui-corner-all, #accordion .ui-corner-top, #accordion .ui-corner-right, .ui-corner-tr{
-moz-border-radius-bottomright: 0px/*{cornerRadius}*/;
-webkit-border-bottom-right-radius: 0px/*{cornerRadius}*/;
-khtml-border-bottom-right-radius: 0px/*{cornerRadius}*/;
border-bottom-right-radius: 0px/*{cornerRadius}*/;
}

#accordion .ui-state-default, #accordion .ui-widget-content .ui-state-default, #accordion .ui-widget-header .ui-state-default {
border: 0px;
background:none;
font-weight: normal/*{fwDefault}*/;
color: #696969/*{fcDefault}*/;
}

#accordion .ui-widget-content {
border: 0px;
background: none;
color: #696969/*{fcContent}*/;
}

#accordion .ui-widget {
font-family: Arial, Helvetica, sans-serif;;
font-size: 13px;
}

#accordion {
font-family: Arial, Helvetica, sans-serif;;
font-size: 13px;
}

#accordion .ui-state-active, #accordion .ui-widget-content .ui-state-active, #accordion .ui-widget-header .ui-state-active {
border: 0px;
background: none;
font-weight: normal/*{fwDefault}*/;
color: #696969/*{fcActive}*/;
}