.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/* Victor */
h1 {
    font-size: 50px;
    color: #666;
    line-height: normal;
    font-family: 'DINEngschriftStd', Arial, Helvetica, sans-serif;
}
div#links ul li {
    width: 160px;
    float: left;
    margin: 10px;
}

div#content {border-bottom: 1px solid #dfdfdf;}
div#services {background: url('../img/bck-services.jpg') 49.5% top no-repeat #F3F3F3; border-top: 2px solid #f7f7f7;}
div#services .nav-services ul li {
    padding: 20px 32px;
    margin: 0;
    width: 167px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
div#services .nav-services ul li:hover,
div#services .nav-services ul li.active{ background: #dbdbdb; }
div#services .nav-services ul li:hover a,
div#services .nav-services ul li:hover a *{ color: #000!important; }

div#services ul li a h2 {font: 1.7em DINEngschriftStd, Arial, Helvetica, sans-serif;}
div#sub-header div.nav-sup ul li { margin: 0 20px 0 0; }
div#sub-header div.nav-sup ul li a:hover,
div#sub-header div.nav-sup ul li.active a{color:#f70707; text-decoration:none;}
div.nav-sup p { margin: 0;}
div.nav-sup a {line-height: 40px; }
div.nav-upper ul li {margin: 8px 20px;}
div#wrapper:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
div#sub-header div.cart {position: absolute; right: 0; bottom: 0; top: auto; width: 120px; left: auto;}
div.cart p {margin-top: 73px;}
div#sub-header div#wrapper {position: relative;}
div#footer {min-height: inherit;}
div#services div.nav-slider ul li {font-size: 1.487em; }
div.contenidos-productos { width: auto; margin: 0 auto; overflow: hidden;}
div.caja-productos { left: auto; width: 20000px; }
div.caja-productos li {
    background: #fff url('../img/bck-producto.jpg') right 0px repeat-y;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    padding: 0px 5px;
    background-position-x: -11px;
}
div#filter-content { position: absolute; top: 172px;}
div.avanzada a:hover {color:#bd0000; text-decoration: none;}
body#tienda-bombones div#content { margin-top: 0; overflow: hidden;}
body#ficha-tecnica div#content { margin-top: 0;}
body#elige-compra div#content { margin-top: 0;}
div#sub-header{float: none;}
div#top-bar{float: none;}

div.extra-upper ul li {font-size: 1.1em;}
div.extra-upper ul li a:hover {color: #000;}
div.extra-upper ul li.bt-home {padding-top: 1px;}

div.nav-upper h2 {font-family: 'NewsGothicBT-RomanCondensed', Arial, Helvetica, sans-serif; font-size: 1.8em; color: #919191; line-height: 1em;}
div.caja-presentacion div.frase-presentacion { min-height: 50px; }


div.actions div.bt-atreves a {
    color: white;
    padding: 0 30px 0 0px;
    background: url('../img/bt-atreves.png') right 0px no-repeat;
    height: 25px;
    display: inline-block;
}
div.actions div.bt-atreves span {
    background: black;
    padding: 0 8px;
    font-family: NewsGothicStdRegular, Arial, Helvetica, sans-serif;
    height: 25px;
    display: inline-block;
    line-height: 25px;
}
div.actions div.bt-facebook {margin: 12px 10px 0px 0px; width: 100px;}
div.actions div.bt-atreves { padding: 10px 0 10px 0px;}

div#services ul li {font-size: 1.1em;}
div#services ul li p{background: url(../img/micro-arrow.jpg) no-repeat right center; padding-right: 10px; display: inline;}

/* Generales */
body#home {background-color: #fff; }
body#tiendas {background-color: #fafafa; }
body#cafeteria {background-color: #fafafa; }
body#franquicias {background-color: #fafafa; }
body#franquicias-formulario {background-color: #fafafa; }
body#noticias {background-color: #f8f8f8; }
body#empresa {background-color: #fafafa; }
body#prensa {background-color: #f8f8f8; }
body#cocina {background-color: #fafafa; }
body#tienda-bombones.aconsejamos {background-color: #fafafa; }
body#tienda-bombones.aconsejamos div.header-inner div.logo {margin-top: 16px;}
body#tienda-bombones.aconsejamos div.header-inner div.logo img.logo-img {border-bottom: 3px solid white;}

div#header {margin-top: -20px;}

.draggable { z-index: 1000; }

div#top-bar .breadcrumb .separator {background: url('../img/breadcrumb-separator.png') center bottom no-repeat; width: 15px; height: 10px; text-indent: -9999px; display: inline-block;}

/* Slideshow home */
body#home div#content{background:url('../img/bck-home.jpg') top center no-repeat #000;background: none;}
body#home div.frase-presentacion h1 {color: black;}
#slide-home div.frase-presentacion h1 {color: white !important;}
div.contenidos.slider{overflow: hidden; height: 381px;}
div.contenidos.slider .slider-inner{width: 20000px;}
div.caja-presentacion{min-height: 381px; float: left; width: 932px;}
div.caja-presentacion div.img-bombones { width: 213px;  margin-right: 50px; }
div.caja-presentacion div.img-bombones img{
    -webkit-box-shadow: 0 0 5px #999;
    -moz-box-shadow: 0 0 5px #999;
    -o-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
}
div#services div.nav-slider ul li a.active {
    margin-top: 0px;
    height: 30px;
    color: #F50400;
    text-decoration: none;
}
#slide-1 div.img-bombones{background:url('../img/bombones-infancia.png') center -14px no-repeat; height:250px;}
#slide-2 div.img-bombones{background:url('../img/bombones-intuicion.png') center -14px no-repeat; height:250px;}
#slide-3 div.img-bombones{background:url('../img/bombones-atrevimiento.png') center -14px no-repeat; height:250px;}
#slide-4 div.img-bombones{background:url('../img/bombones-leyenda.png') center -14px no-repeat; height:250px;}

.slider-background {position: absolute; top: 0; width: 100%; height: 100%; display: none; z-index: -1;}
.slider-background:first-child {display: block;}
#slider-background-home {background:url('../img/bck-home.jpg') top center no-repeat #000;}
#slider-background-1 {background:url('../img/bck-home-infancia.jpg') center top repeat-x;}
#slider-background-2 {background:url('../img/bck-home-intuicion.jpg') center top repeat-x;}
#slider-background-3 {background:url('../img/bck-home-atrevimiento.jpg') center top repeat-x;}
#slider-background-4 {background:url('../img/bck-home-leyenda.jpg') center top repeat-x;}

/* Search */
.contenidos .search-results h1 {font: normal 1.4em Arial, Helvetica, sans-serif; color: #343434;}
.contenidos .search-results dl dt {padding: 35px 0 10px; color: #bd0000; border-bottom: 1px solid #dfdfdf; font-weight: bold; font-size: 1.4em;}
.contenidos .search-results dl dd ul li{margin: 10px 0;}
.contenidos .search-results dl dd ul li p{font-size: 1.3em; margin: 5px 0;}
.contenidos .search-results dl dd ul li .p-title{font-weight: bold; color: #2e2d2d; text-decoration: underline;}
.contenidos .search-results dl dd ul li .p-bread{color: #624930;}
.contenidos .search-results dl dd ul li .p-description{color: #696969;}
.contenidos .search-results dl dd ul li .p-description em{text-decoration: underline; font-weight: bold; font-style: normal;}

/* Headings */
#section-heading .heading{width:926px; height: 90px; margin: 0 auto; position: relative;}
#section-heading h1 {font: 5.2em 'TradeGothicLTBoldCond'; color: rgba(0,0,0,.8); padding: 0 20px; padding-top: 20px; overflow: hidden; height: 46px;}
#section-heading .heading-nav {background: rgba(0,0,0,.8); padding: 0 20px; height: 24px; position: absolute; bottom: 0; width: 886px; color: #818181; font: bold 1.3em/24px Arial;}
#section-heading .heading-nav a{color: #818181; margin-right: 5px; }
#section-heading .heading-nav a.right{float: right; color: #fff; padding-right: 17px; background: url(../img/area-franquiciados.png) right center no-repeat; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
#section-heading .heading-nav a.right:hover{color: #bd0000; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
#section-heading .heading-nav span{color: #818181; margin-right: 5px; }
#section-heading .heading-nav a:hover,
#section-heading .heading-nav .current-node{color: #fff; text-decoration: none;}

#section-heading .news-heading {background: url('../img/headings/news-heading.jpg') no-repeat top center;}
#section-heading .shops-heading {background: url('../img/headings/shops-heading.jpg') no-repeat top center;}
#section-heading .cafeteria-heading {background: url('../img/headings/cafeteria-heading.jpg') no-repeat top center;}
#section-heading .franquicias-heading {background: url('../img/headings/franquicias-heading.jpg') no-repeat top center;}
#section-heading .empresa-heading {background: url('../img/headings/empresa-heading.jpg') no-repeat top center;}
#section-heading .prensa-heading {background: url('../img/headings/prensa-heading.jpg') no-repeat top center;}
#section-heading .recetas-heading {background: url('../img/headings/recetas-heading.jpg') no-repeat top center;}
#section-heading .cocina-heading {background: url('../img/headings/enlacocina-heading.jpg') no-repeat top center;}

/* Noticias */
.news-content li{float: left; width: 281px; padding: 0 40px 20px 0;}
.news-content li:nth-child(3n+1){clear: both;}
.news-content li:nth-child(3n+3){padding-right: 0;}
.news-content li h2{font: bold 2em Arial;}
.news-content li .expand-news{color: #424242; font-weight: bold;}
.news-content li .expand-news:hover{color: #b40000; text-decoration: none;}
.news-content li p{font-size: 1.5em; line-height: 1.4em;}
.news-content li p.full-description{display: none;}
.news-content li p.full-description a.mini{display: none;}
.news-content li p a.mini{font-size: 0.867em;}
.news-content li img{margin-bottom: 30px;}

.news-content-history{border: 5px solid #d8d8d8; background: white; width:916px; margin: -15px auto 0; position: relative;}
.news-content-history ul{margin: 0; padding: 0;}
.news-content-history li{border-bottom: 1px solid #d8d8d8; padding: 10px 25px; position: relative;}
.news-content-history li img{float: left; margin-right: 35px;}
.news-content-history li h2{font: bold 1.6em Arial;}
.news-content-history li h2 a{color: #424242;}
.news-content-history li h2 a:hover{color: #b40000; text-decoration: none;}
.news-content-history li p{font: bold 1.2em Arial; color: #b40000;}
.news-content-history .pagination{height: 35px; background: #d8d8d8; text-align: right; font: 1.1em/35px Arial; color: #808080;}
.news-content-history .pagination input{width: 11px; border: none; color: #0f0f0f; text-align: center; padding: 2px; }
.news-content-history .pagination .previous{width: 26px; height: 25px; display: inline-block; background: url(../img/news-previous-page.jpg); text-indent: -9999px; direction: rtl; margin: 5px 0 0 5px; }
.news-content-history .pagination .next{width: 26px; height: 25px; display: inline-block; background: url(../img/news-next-page.jpg); text-indent: -9999px; direction: rtl; }
.news-content-history .pagination .previous.disabled{background: url(../img/news-previous-page-disabled.jpg);}
.news-content-history .pagination .next.disabled{background: url(../img/news-next-page-disabled.jpg);}

.news-content-history .blackbox-overlay{display: none; background: rgba(255,255,255,0.8); position: absolute; z-index: 100; height: 100%; width: 100%; padding: 5px; margin: -5px;}
.news-content-history .blackbox{display: none; background: #fefefe; border: 5px solid #d8d8d8; position: absolute; z-index: 200; top: -5px; left: -5px; width: 100%; }
.news-content-history .blackbox-inner{padding: 25px 25px 40px; box-shadow: 1px 1px 3px #bebebe;}
.news-content-history .blackbox img{float:right; margin: 0 0 30px 50px; }
.news-content-history .blackbox a.close{position: absolute; top: 7px; right: 7px;}
.news-content-history .blackbox a.close img{margin: 0;}
.news-content-history .blackbox h2{font: bold 2.8em Arial; color: #424242;}
.news-content-history .blackbox p{font: 1.3em/1.5em Arial; color: #515151;}
.news-content-history .blackbox p.date{font: 1.2em Arial; color: #b40000;}

/* Mapa tiendas */
.mapa-tiendas { background: url('../img/mapa-tiendas.jpg'); height: 398px; position: relative; }
.mapa-tiendas .city-labels li{position: absolute; font-size: 1.2em; opacity: 0;}
.mapa-tiendas #l-barcelona{ top: 148px; left: 451px; }
.mapa-tiendas #l-bilbao{ top: 145px; left: 403px; }
.mapa-tiendas #l-lisboa{ top: 160px; left: 381px; }
.mapa-tiendas #l-madrid{ top: 174px; left: 397px; }
.mapa-tiendas #l-valencia{ top: 170px; left: 445px; }
.mapa-tiendas #l-alkobar{ top: 176px; left: 537px; }
.mapa-tiendas #l-dubai{ top: 194px; left: 547px; }
.mapa-tiendas #l-tokyo{ top: 162px; left: 713px; }
.mapa-tiendas #l-osaka{ top: 180px; left: 697px; }
.mapa-tiendas .tienda{ height: 5px; width: 5px; position: absolute; cursor: pointer; }
.mapa-tiendas .tienda:hover,
.mapa-tiendas .tienda.hover{
    background: #d00;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; border-radius: 5px;
    -webkit-box-shadow: 0 0 3px #f00;
    -moz-box-shadow: 0 0 3px #f00;
    box-shadow: 0 0 3px #f00;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.mapa-tiendas #barcelona{ top: 159px; left: 445px; }
.mapa-tiendas #bilbao{ top: 152px; left: 437px; }
.mapa-tiendas #lisboa{ top: 162px; left: 420px; }
.mapa-tiendas #madrid{ top: 160px; left: 430px; }
.mapa-tiendas #valencia{ top: 164px; left: 439px; }
.mapa-tiendas #alkobar{ top: 187px; left: 528px; }
.mapa-tiendas #dubai{ top: 194px; left: 535px; }
.mapa-tiendas #tokyo{ top: 157px; left: 705px; }
.mapa-tiendas #osaka{ top: 177px; left: 691px; }
.mapa-tiendas .tienda-info{
    position: absolute;
    width: 420px;
    background: #fafafa;
    padding: 10px 10px 20px;
    border: 1px solid #dbdbdb;
    -webkit-box-shadow: 4px 8px 2px rgba(153,153,153,.8);
    -moz-box-shadow: 4px 8px 2px rgba(153,153,153,.8);
    box-shadow: 4px 8px 2px rgba(153,153,153,.8);
    z-index: 100;
    top: -100px;
    left: 20px;
}
.mapa-tiendas .tienda-info img{ float: left; }
.mapa-tiendas .tienda-info h2{ margin-left: 175px; color: #c70e0e; font: bold 1.3em Arial; border-bottom: 1px dotted #696969; margin-bottom: 3px; padding-bottom: 3px; }
.mapa-tiendas .tienda-info p{ margin: 0 0 3px; margin-left: 175px; font: 1.2em Arial; color: #696969; }
.mapa-tiendas .tienda-info a.googlemaps{ font-weight: bold; padding-left: 25px; background: url(../img/maps-icon.jpg) no-repeat left center; line-height: 23px; display: inline-block; }
.mapa-tiendas .tienda-info a.close{ float: right; }
.mapa-tiendas .tienda-info img.map-arrow{ position: absolute; top: 82px; left: -19px; }
.mapa-tiendas .right .tienda-info{right: 20px; left: auto;}
.mapa-tiendas .right .tienda-info img.map-arrow{ right: -21px; left: auto;}

/* En la cocina */
.cocina-content { width:926px; margin: 0 auto; }
.cocina-content .column{width: 405px; border: 1px solid #e4e4e4; background: #fff; float: right; padding: 15px 25px;
    -webkit-box-shadow: 0 6px 10px -5px #e4e4e4;
    -moz-box-shadow: 0 6px 10px -5px #e4e4e4;
    box-shadow: 0 6px 10px -5px #e4e4e4;
}
.cocina-content .column:first-child{float: left;}
.cocina-content .column h2{font: bold 3.7em 'TradeGothicLTBold'; color: #acacac; text-transform: uppercase; letter-spacing: -0.05em;}
.cocina-content .column ul.calendar{padding: 0; margin: 0;}
.cocina-content .column ul.calendar > li .arrow{width: 11px; height: 8px; background: url(../img/arrow-gray.png) no-repeat; position: absolute; top: 13px; right: 13px;}
.cocina-content .column ul.calendar > li:hover .arrow{background: url(../img/arrow-white.png) no-repeat;}
.cocina-content .column ul.calendar > li.expanded .arrow{background: url(../img/arrow-black.png) no-repeat;}
.cocina-content .column ul.calendar > li{background: #ededed; border: 1px solid #ededed; padding: 0 15px; margin-top: 5px; position: relative;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;}
.cocina-content .column ul.calendar > li:hover{background: #3f3f3f; cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;}
.cocina-content .column ul.calendar > li span.title{line-height: 40px; font: 2.7em 'DINEngschriftStd'; color: #c0c0c0; text-transform: uppercase;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;}
.cocina-content .column ul.calendar > li:hover span.title{color: #ededed;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;}
.cocina-content .column ul.calendar > li.expanded{background: #fff;}
.cocina-content .column ul.calendar > li.expanded span.title{color: #bd0000;}
.cocina-content .column ul.calendar > li .calendar-content{display: none; margin: 20px 0 15px;}
.cocina-content .column ul.calendar > li .calendar-content h3{font: bold 1.3em Arial; color: #6b6b6b;}
.cocina-content .column ul.calendar > li .calendar-content p{font: 1.3em Arial; color: #6b6b6b; margin: 2px 0;}
.cocina-content .column ul.calendar > li .calendar-content a{font: 1.3em Arial; color: #1c1c1c; background: url(../img/enveloppe.jpg) left center no-repeat; padding-left: 25px;}
.cocina-content .column ul.calendar > li .calendar-content ul{margin: 0; padding: 0;}

/* Cafetería */
.cafeteria-content { width:926px; margin: -24px auto 0; }
.cafeteria-content h2 { color: #2e2d2d; font: 1.9em 'NewsGothicStdRegular'; margin: 30px 0 15px; }
.cafeteria-content h3 { color: #d43131; font: 1.9em 'NewsGothicStdRegular'; margin: 20px 0 15px; padding: 0 15px; }
.cafeteria-content p { color: #404040; font: 1.4em/1.4em 'Arial'; padding: 0 15px 15px; }
.cafeteria-content img { max-width: 100%; }
.cafeteria-content .row-column {
    background: #fff;
    -moz-box-shadow: 1px 1px 1px #e7e7e7;
    -webkit-box-shadow: 1px 1px 1px #e7e7e7;
    box-shadow: 1px 1px 1px #e7e7e7;
    display: inline-block;
    vertical-align: top;
    padding: 7px;
    margin-bottom: 8px;
}
.cafeteria-content .triple-row .row-column { width: 287px; margin-right: 8px; min-height: 310px; }
.cafeteria-content .triple-row.tall .row-column { min-height: 415px; }
.cafeteria-content .triple-row .row-column:nth-child(3n+2){clear: both;}
.cafeteria-content .triple-row .row-column:nth-child(3n+1){margin-right: 0;}
.cafeteria-content .double-row .row-column { width: 440px; margin-right: 15px; }
.cafeteria-content .double-row .row-column:nth-child(2n+2){clear: both;}
.cafeteria-content .double-row .row-column:nth-child(2n+1){margin-right: 0;}
.cafeteria-content .double-row .row-column img{float: right; margin-left: 7px;}

/* Franquicias */
.franquicias-content { width:926px; margin: -24px auto 0; }
.franquicias-content.formulario { margin-top: 0; }
.franquicias-content h2 { color: #2e2d2d; font: 2.4em 'NewsGothicStdRegular'; margin: 20px 0; }
.franquicias-content .razon { border-top: 1px solid #dedede; padding: 30px 0; }
.franquicias-content .razon:nth-child(2) { border: none; padding-top: 0; }
.franquicias-content .razon h3{ color: #bd0000; font: 1.9em 'NewsGothicStdRegular'; margin-bottom: 20px; }
.franquicias-content .razon h4{ color: #252525; font: 1.6em Arial; }
.franquicias-content .razon img{  }
.franquicias-content .razon p{ color: #2e2d2d; font: bold 1.3em Arial; margin: 0 0 20px; }
.franquicias-content .razon li{ color: #515151; font: 1.3em/1.5em Arial; margin-bottom: 20px; list-style-position: inside; list-style-image: url("../img/franquicias-bullet.jpg") }
.franquicias-content .razon .column{ width: 33%; display: inline-block; vertical-align: top; }
.franquicias-content .razon .column:first-child{ width: 200px; padding: 0 90px 0 0; }
.franquicias-content .razon .column:nth-child(2){ width: 265px; padding: 0 30px 0 0; }
.franquicias-content .razon .column:nth-child(3){ width: 335px; }

.franquicias-content .requisitos{ margin: 20px 0 0; padding: 0; }
.franquicias-content .requisitos li{ float: left; vertical-align: top; width: 29%; min-height: 255px; padding: 0 3%; border: 1px solid #dfdfdf; }
.franquicias-content .requisitos li:nth-child(3n+1){ padding-left: 0; }
.franquicias-content .requisitos li:nth-child(3n+3){ padding-right: 0; }
.franquicias-content .requisitos li:nth-child(1){ border-top: 0; border-left: 0; border-bottom: 0; }
.franquicias-content .requisitos li:nth-child(2){ border-top: 0; border-left: 0; border-right: 0; border-bottom: 0; }
.franquicias-content .requisitos li:nth-child(3){ border-top: 0; border-right: 0; border-bottom: 0; }
.franquicias-content .requisitos li:nth-child(4){ border-bottom: 0; border-left: 0; }
.franquicias-content .requisitos li:nth-child(5){ border-bottom: 0; border-left: 0; border-right: 0; }
.franquicias-content .requisitos li:nth-child(6){ border-bottom: 0; border-right: 0; }
.franquicias-content .requisitos li h2{ color: #bd0000; font: 1.7em 'NewsGothicStdRegular'; margin-top: 35px; margin-bottom: 25px; }
.franquicias-content .requisitos li p{ color: #515151; font: 1.3em/1.5em 'Arial'; margin: 0 0 20px; }
.franquicias-content .requisitos li ul li{ display: block; width: auto; padding: 0; color: #515151; font: 1.3em/1.5em 'Arial'; min-height: 0; border: 0; }

.franquicias-content .long-fields div{ height: auto!important; }
.franquicias-content .long-fields .label{ display: block; width: auto; float: none; padding: 5px 0 7px; }
.franquicias-content .long-fields .input input{ display: block; float: none; width: 98%;
    border: 0px;
    border-top: 1px solid #D1CBC5;
    padding: 3px 5px; }
.franquicias-content .long-fields .columna-izquierda{ width: 45% !important; }
.franquicias-content .long-fields .columna-derecha{ width: 45% !important; }
.franquicias-content .margin-top{ margin-top: 20px; }
.franquicias-content .campo-estudios{ padding: 0 20px; margin-bottom: 20px; }
.franquicias-content .campo-estudios table{ width: 100%; border-collapse: separate; border-spacing: 5px; }
.franquicias-content .campo-estudios th{ background: #1c1c1c; color: #fff; padding: 10px; text-align: center; }
.franquicias-content .campo-estudios .input input{ width: 275px; padding: 5px; }
.franquicias-content .campo-estudios table.columns4 .input input{ width: 202px;}
.franquicias-content .campo-estudios table.columns4 .cols1 .input input{ width: 284px;}
.franquicias-content .campo-estudios table.columns4 .cols2 .input input{ width: 125px;}
.franquicias-content .campo-dedicacion{ padding: 0 20px; margin-bottom: 20px; }
.franquicias-content .campo-dedicacion .input textarea{ display: block; float: none; width: 99%;
    border: 0px;
    border-top: 1px solid #D1CBC5;
    padding: 3px 5px; }
.franquicias-content .campo-inline-radio,
.franquicias-content .campo-radio{padding: 0 20px; margin-bottom: 20px;}
.franquicias-content .campo-inline-radio .options{padding: 0; margin: 0;}
.franquicias-content .campo-radio .options.inline{padding: 0; margin: 0;}
.franquicias-content .campo-radio .options.block{padding: 0; margin: 0;}
.franquicias-content .campo-inline-radio p{display: inline;}
.franquicias-content .campo-inline-radio p,
.franquicias-content .campo-radio p{font-weight: bold;}
.franquicias-content .campo-radio strong.right{float: right}
.franquicias-content .campo-radio strong.right input{width: 580px; border: 0px; border-top: 1px solid #D1CBC5; padding: 3px 5px;}
.franquicias-content .campo-inline-radio .option{margin-left: 10px;}
.franquicias-content .campo-inline-radio .option,
.franquicias-content .campo-radio .option{display: inline;}
.franquicias-content .campo-radio .options.block .option{display: block;}
.franquicias-content .campo-inline-radio .option input,
.franquicias-content .campo-radio .option input{margin-left: 5px;}

.franquicias-content .introduction p{font-size: 1.3em;}
.franquicias-content .introduction p.small{font-size: 1.1em;}
.franquicias-content div.form-buttons{padding: 20px; text-align: right;}
.franquicias-content div.form-buttons button[type="submit"]{background: url(../img/franquicias-enviar-btn.png) no-repeat; text-indent: -9999px; width: 74px; height: 37px; border: 0; cursor: pointer; }
.franquicias-content div.form-buttons button[type="reset"]{background: url(../img/franquicias-borrar-btn.png) no-repeat; text-indent: -9999px; width: 74px; height: 37px; border: 0; cursor: pointer; }
.franquicias-content p.copy{padding: 20px; font-size: .8em;}

/* Empresa */
.empresa-content { width:926px; margin: 0 auto; }
.empresa-content .row{ display: inline-block; width: 100%; margin-bottom: 50px; }
.empresa-content .row img{ float: right; }
.empresa-content .row:nth-child(2n) img{ float: left; margin-right: 150px; }
.empresa-content .row h2{ color: #bd0000; font: 1.9em 'NewsGothicStdRegular'; margin-bottom: 20px; width: 390px; display: inline-block; }
.empresa-content .row p{ color: #515151; font: 1.6em/1.3em 'Arial'; margin: 0 0 20px; width: 390px; display: inline-block; }
.empresa-content .row .button{ width: 354px; height: 84px; }
.empresa-content .row .button-grey{ float: left; background: url(../img/empresas-button-grey.png); }
.empresa-content .row .button-white{
    float: right;
    background: url(../img/empresas-button-white-normal.png);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.empresa-content .row .button-white:hover{ background: url(../img/empresas-button-white.png); }
.empresa-content .row .button span,
.empresa-content .row .button a{ display: block; color: #252525; font: 1.6em Arial; width: 329px; height: 64px; padding: 20px 0 0 25px; }
.empresa-content .row .button a:hover{ text-decoration: none; }
.empresa-content .row .button strong{ color: #c52121; font: bold 1.063em Arial; }
.empresa-content .row .button strong.bold{ color: #252525; }

/* Slideshow */
.generic-slideshow { border: 6px solid #fff; position: relative; box-shadow: 1px 1px 5px #ddd; }
.generic-slideshow .generic-slideshow-viewport { overflow: hidden; }
.generic-slideshow .generic-slideshow-inner{ width: 20000px; float: left; }
.generic-slideshow .generic-slide{width:914px; float: left;}
.generic-slideshow .generic-slideshow-prev,
.generic-slideshow .generic-slideshow-next{width:35px; height: 60px; position: absolute; top: 50%; margin-top: -50px;}
.generic-slideshow .generic-slideshow-prev{left: -6px; background: url(../img/slideshow-left.png);}
.generic-slideshow .generic-slideshow-next{right: -6px; background: url(../img/slideshow-right.png);}
.generic-slideshow .generic-slideshow-prev a,
.generic-slideshow .generic-slideshow-next a{display: block; text-indent: -9999px; width:35px; height: 60px;}
.generic-slideshow .generic-slideshow-pagination{width: 84px; margin: 12px auto;}
.generic-slideshow .generic-slideshow-pagination ul{padding: 0; margin: 0;}
.generic-slideshow .generic-slideshow-pagination li{float: left; margin-right: 9px;}
.generic-slideshow .generic-slideshow-pagination li a{display: block; width: 12px; height: 12px; text-indent: -9999px; background: #000;}
.generic-slideshow .generic-slideshow-pagination li.active a,
.generic-slideshow .generic-slideshow-pagination li:hover a{background: #be0a0a;}

/* Prensa */
.prensa-content { width:926px; margin: 0 auto; }
.prensa-content .generic-slide { background: #fff;}
.prensa-content .generic-slide img {margin-right: 3px; }
.prensa-content .generic-slide img:nth-child(4n){margin: 0;}

/* Cocina */
.cocina-slideshow-content { width:926px; margin: -24px auto 0; }
.cocina-slideshow-content .generic-slideshow { border: 0; box-shadow: none; }
.cocina-slideshow-content .generic-slideshow .generic-slide{width:926px;}
.cocina-slideshow-content .generic-slideshow .generic-slideshow-prev,
.cocina-slideshow-content .generic-slideshow .generic-slideshow-next{width:28px; height: 60px; position: absolute; top: 50%; margin-top: -50px;}
.cocina-slideshow-content .generic-slideshow .generic-slideshow-prev{left: 0; background: url(../img/cocina-slider-left.png);}
.cocina-slideshow-content .generic-slideshow .generic-slideshow-next{right: 0; background: url(../img/cocina-slider-right.png);}

/* Recetas */
.recetas-filter {float:right; width:240px; border: 1px solid #ded9d5; box-shadow: 2px 2px 3px #eeecea;}
.recetas-filter-inner {border: 3px solid #fff; background: #e8e8e8 url(../img/recetas-filter-bg.png) 0 29px repeat-x;}
.recetas-filter h3{font: 1.6em/29px 'NewsGothicStdRegular'; background: #232323; padding: 0 12px; color: #fff;}
.recetas-filter .filter-control{margin: 10px 10px 0; padding-left: 30px;}
.recetas-filter .filter-gorrito{background: url(../img/ico-gorrito.png) no-repeat left center;}
.recetas-filter .filter-stat{background: url(../img/ico-stat.png) no-repeat left center;}
.recetas-filter .filter-tiempo{background: url(../img/ico-tiempo.png) no-repeat left center;}
.recetas-filter .btn-buscar{margin: 10px; text-align: right;}
.recetas-filter .btn-buscar button{background: url(../img/btn-buscar.png) no-repeat left center; width: 85px; height: 32px; display: inline-block; text-indent: -9999px; border: 0; cursor: pointer;}
.recetas-filter select{width: 180px;}

.receta-destacada {float:right; width:251px; height: 116px; background: url(../img/recetas-mes-banner.png); margin-top: 15px;}
.receta-destacada img{width: 110px; height: 98px; float: right; margin-right: 3px; margin-top: 3px;}
.receta-destacada h3{font: bold 1.3em Arial; color: #0c0c0c; width: 100px; padding: 20px;}
.receta-destacada a{color: #0c0c0c;}

.receta-del-mes { width: 645px; height: 195px; float: left; background: url(../img/receta-del-mes-bg.jpg) no-repeat left top; border: 1px solid #ded9d5; position: relative;}
.receta-del-mes-inner {border: 3px solid #fff; width: 639px; height: 189px;}
.receta-del-mes-ribbon {position: absolute; width: 106px; height: 104px; background: url(../img/recetas-ribbon.png) no-repeat; top: 0; right: 0;}
.receta-del-mes h2 {color: #0c0c0c; font: bold 1.9em Arial; width: 300px; margin: 30px 40px; float: left;}
.receta-del-mes .receta-info {float: right; margin-right: 110px; margin-top: 30px;}
.receta-del-mes .receta-info p{margin: 5px 0; padding-left: 30px; color: #0c0c0c; font: bold 1.2em Arial; line-height: 20px;}
.receta-del-mes .receta-info p.receta-info-gorrito{background: url(../img/ico-gorrito.png) no-repeat left center;}
.receta-del-mes .receta-info p.receta-info-stat{background: url(../img/ico-stat.png) no-repeat left center;}
.receta-del-mes .receta-info p.receta-info-tiempo{background: url(../img/ico-tiempo.png) no-repeat left center;}
.receta-del-mes .receta-info p.receta-info-comensales{background: url(../img/ico-comensales.png) no-repeat left center;}
.receta-del-mes p.btn-ver-receta{float: left; margin: 0 40px;}
.receta-del-mes p.btn-ver-receta a{background: url(../img/btn-ver-receta.png) no-repeat left center; width: 108px; height: 38px; text-indent: -9999px; display: inline-block;}

.receta-del-mes.con-foto { height: 298px; background: url(../img/receta-del-mes-bg2.jpg) no-repeat left top;}
.receta-del-mes.con-foto .receta-del-mes-inner {height: 292px;}
.receta-del-mes.con-foto img{float: right; height: 292px; overflow: hidden;}
.receta-del-mes.con-foto h2,
.receta-del-mes.con-foto p,
.receta-del-mes.con-foto .receta-info{float: left; width: 252px; padding-right: 0; magin-right: 0;}
.receta-del-mes.con-foto .receta-info{float: left; width: 252px; padding: 0; margin: 0 40px 30px;}

.ultimas-recetas { float: left; border: 5px solid #ececec; width: 637px; margin-top: 50px;}
.ultimas-recetas h2{ float: right; background: url(../img/tab-ultimas-recetas.png) no-repeat top left; text-indent: -9999px; width: 174px; height: 34px; margin-top: -38px; margin-right: -5px;}
.ultimas-recetas-inner {border: 1px solid #d6d6d6;
    width: 633px;
    -moz-box-shadow: 1px 1px 1px #d2d2d2;
    -webkit-box-shadow: 1px 1px 1px #d2d2d2;
    box-shadow: 1px 1px 1px #d2d2d2;
}
.ultimas-recetas ul {margin: 0; padding: 0;}
.ultimas-recetas li {
    background: #f4f4f4;
    padding: 20px;
    -webkit-box-shadow: inset 1px 2px 1px #fff;
    -moz-box-shadow: inset 1px 2px 1px #fff;
    box-shadow: inset 1px 2px 1px #fff;
    border-bottom: 1px solid #dfdfdf;
}
.ultimas-recetas li img{float: left; border: 5px solid #fff; margin: 0 20px 20px 0;}
.ultimas-recetas li h3{font: bold 1.5em Arial;}
.ultimas-recetas li h3 a{color: #0c0c0c; }
.ultimas-recetas li h3 a:hover{color: #65230d; text-decoration: none; }
.ultimas-recetas li p{color: #565257; font: 1.3em Arial; margin: 5px 0; }
.ultimas-recetas li p a{color: #040404; font-weight: bold;}
.ultimas-recetas li p.date{color: #777777; font: 1.2em Arial; margin: 0 0 10px; }
.ultimas-recetas li p.info{color: #65230d; font: 1.2em Arial; }
.ultimas-recetas .pagination{height: 35px; background: #ececec; text-align: right; font: 1.1em/35px Arial; color: #808080;}
.ultimas-recetas .pagination input{width: 11px; border: none; color: #0f0f0f; text-align: center; padding: 2px; }
.ultimas-recetas .pagination .previous{width: 26px; height: 25px; display: inline-block; background: url(../img/news-previous-page.jpg); text-indent: -9999px; direction: rtl; margin: 5px 0 0 5px; }
.ultimas-recetas .pagination .next{width: 26px; height: 25px; display: inline-block; background: url(../img/news-next-page.jpg); text-indent: -9999px; direction: rtl; }
.ultimas-recetas .pagination .previous.disabled{background: url(../img/news-previous-page-disabled.jpg);}
.ultimas-recetas .pagination .next.disabled{background: url(../img/news-next-page-disabled.jpg);}

.recetas-box { float: left; width: 637px; background: url(../img/recetas-box-bg.png) center top repeat-y #f6f6f6;}
.recetas-box > div.padding { padding: 30px 30px 15px;}
.recetas-box.with-border { border: 5px solid #fff; margin: 40px 0 30px; }
.recetas-box.wide { width: 647px; }
.recetas-box.shadow { box-shadow: 1px 1px 2px #c7c7c7; -webkit-box-shadow: 1px 1px 2px #c7c7c7; -moz-box-shadow: 1px 1px 2px #c7c7c7; }
.recetas-box h2{background: #966352; font: bold 1.5em/27px Arial; color: #fff; box-shadow: inset 0 3px 3px #7e4e3f; height: 27px; padding: 0 30px; position: relative;}
.recetas-box h2 .clip{width: 28px; height: 65px; position: absolute; right: 25px; top: 14px; background: url(../img/recetas-clip.png);}
.recetas-box ul.list {margin: 0; padding: 0;}
.recetas-box ul.list > li {background: #fff; padding: 20px; border-bottom: 1px solid #dfdfdf;}
.recetas-box.wide ul.list > li:last-child {border: 0;}
.recetas-box ul.list > li img{float: left; border: 5px solid #fff; margin: 0 20px 20px 0;}
.recetas-box ul.list > li h3{font: bold 1.5em Arial;}
.recetas-box ul.list > li h3 a{color: #0c0c0c; }
.recetas-box ul.list > li h3 a:hover{color: #65230d; text-decoration: none; }
.recetas-box ul.list > li p{color: #565257; font: 1.3em Arial; margin: 5px 0; }
.recetas-box ul.list > li p a{color: #040404; font-weight: bold;}
.recetas-box ul.list > li p.date{color: #777777; font: 1.2em Arial; margin: 0 0 10px; }
.recetas-box ul.list > li p.info{color: #65230d; font: 1.2em Arial; }
.recetas-box p{color: #515151; font: 1.3em/1.5em Arial; margin-bottom: 30px; }
.recetas-box .pagination{height: 35px; background: #ececec; text-align: right; font: 1.1em/35px Arial; color: #808080; padding: 0 5px;}
.recetas-box .pagination input{width: 11px; border: none; color: #0f0f0f; text-align: center; padding: 2px; }
.recetas-box .pagination .previous{width: 26px; height: 25px; display: inline-block; background: url(../img/news-previous-page.jpg); text-indent: -9999px; direction: rtl; margin: 5px 0 0 5px; }
.recetas-box .pagination .next{width: 26px; height: 25px; display: inline-block; background: url(../img/news-next-page.jpg); text-indent: -9999px; direction: rtl; }
.recetas-box .pagination .previous.disabled{background: url(../img/news-previous-page-disabled.jpg);}
.recetas-box .pagination .next.disabled{background: url(../img/news-next-page-disabled.jpg);}

/* Chocómetro */
#chocometro-wrapper {width: 815px; height: 84px; position: relative; background: url(../img/chocometro-slide0.png) no-repeat 0 25px; margin: 0 auto; padding: 25px 0;}
#chocometro-wrapper.slide1 {background-image: url(../img/chocometro-slide1.png);}
#chocometro-wrapper.slide2 {background-image: url(../img/chocometro-slide2.png);}
#chocometro-wrapper.slide3 {background-image: url(../img/chocometro-slide3.png);}
#chocometro-wrapper.slide4 {background-image: url(../img/chocometro-slide4.png);}
#chocometro-wrapper.slide5 {background-image: url(../img/chocometro-slide5.png);}
#chocometro-wrapper h1 {color: #252525; font: 1.75em 'NewsGothicStdRegular'; text-transform: uppercase; position: absolute; top: 26px; left: 64px;}
#chocometro-wrapper h1 strong{color: #bd0000;font-weight: normal;}
#chocometro-wrapper h2 {color: #252525; font: 1.3em 'NewsGothicStdRegular'; text-transform: uppercase;}
#chocometro-wrapper h2.active {color: #bd0000;}
#chocometro-wrapper h2.title-slide0 {position: absolute; top: 89px; left: 11px;}
#chocometro-wrapper h2.title-slide1 {position: absolute; top: 89px; left: 150px;}
#chocometro-wrapper h2.title-slide2 {position: absolute; top: 89px; left: 288px;}
#chocometro-wrapper h2.title-slide3 {position: absolute; top: 89px; left: 425px;}
#chocometro-wrapper h2.title-slide4 {position: absolute; top: 89px; left: 564px;}
#chocometro-wrapper h2.title-slide5 {position: absolute; top: 89px; left: 703px;}
#chocometro {width: 695px; height: 84px; position: relative; }
#chocometro a{width: 21px; height: 38px; top: 25px; margin-left: -11px; outline: none; display: block; position: absolute; background: url(../img/chocometro-pepita.png); }
.chocometro-content hr{border: none; border-bottom: 2px solid #dfdfdf;}
.chocometro-content .slider{height: 285px; margin: 30px 0; overflow: hidden;}
.chocometro-content .slider .slider-inner{width: 20000px;}
.chocometro-content .slider .slider-slide{width: 932px; display: block; float: left; position: relative;}
.chocometro-content .slider .row-column{
    width: 399px;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    min-height: 205px;
}
.chocometro-content .slider .row-column:first-child{ margin-right: 10px; }
.chocometro-content .slider .row-column.image{ padding: 0; width: 449px; }
.chocometro-content .slider .row-column img{float: left; margin-top: 10px;}
.chocometro-content .slider .row-column.image img{ max-width: 100%; margin: 0; }
.chocometro-content .slider .row-column h2{display: inline-block; font: 2.3em 'NewsGothicStdRegular'; color: #000; text-transform: uppercase; width: 180px;}
.chocometro-content .slider .row-column h2 a{color: #000; text-decoration: none;}
.chocometro-content .slider .row-column h2 a:hover{color: #b40606; text-decoration: none;}
.chocometro-content .slider .row-column h2 strong{color: #b40000; font-weight: normal;}
.chocometro-content .slider .row-column p{display: inline-block; font: 1.6em/1.4em 'NewsGothicStdRegular'; text-transform: uppercase; color: #000; width: 185px;}
.chocometro-content .slider .row-column p.light{color: #868686;}
.chocometro-content .slider .row-column p em{color: #000; font-style: normal;}
.chocometro-content .slider .row-column p.controls{line-height: 26px!important;}
.chocometro-content .slider .row-column p.controls span{color: #323232; font: bold 0.938em Arial; margin-right: 10px; display: inline-block;}
.chocometro-content .slider .row-column p.controls a{display: inline-block; text-indent: -9999px; background: url(../img/btn-comprar.png); width: 65px; height: 26px;}
.chocometro-content .slider .row-column p.controls a:hover{background: url(../img/btn-comprar-hover.png);}

.chocometro-content .slider .single-row .row-column{background: transparent; border: none; width: 882px; padding: 0 25px; margin: 0; }
.chocometro-content .slider .single-row .row-column.long-product{ background: #fff; border: 1px solid #ccc; height: 213px; width: 875px; }
.chocometro-content .slider .single-row .row-column img{margin-right: 40px; margin-bottom: 40px;}
.chocometro-content .slider .single-row .row-column.long-product img{ margin: 0; }
.chocometro-content .slider .single-row .row-column h2{width: 325px; font: 1.8em 'NewsGothicStdRegular';}
.chocometro-content .slider .single-row .row-column.long-product h2{ width: 260px; font: 2.4em 'NewsGothicStdRegular'; margin-top: 25px; }
.chocometro-content .slider #slide-5 .single-row .row-column h2{font: 1.7em 'NewsGothicStdRegular';}
.chocometro-content .slider .single-row .row-column p{width: 325px; font: 1.2em/1.5em Arial;}
.chocometro-content .slider .single-row .row-column.long-product p{ width: 260px; font: 1.7em/1.5em Arial; }
.chocometro-content .slider .single-row .row-column p em{width: 325px; font: 1.1em Arial;}
.chocometro-content .slider .single-row .row-column p.controls a{margin: 0;}
.chocometro-content .slider .single-row .row-column.long-product p.controls{ font: 1.2em/1.5em Arial; }

.chocometro-content .slider .row-column p.controls a.btn-choco-comprar{background: url(../img/btn-choco-comprar.png); width: 64px; height: 22px;}
.chocometro-content .slider .row-column p.controls a.btn-choco-comprar:hover{background: url(../img/btn-choco-comprar-hover.png); width: 64px; height: 22px;}
.chocometro-content .slider .row-column p.controls a.btn-choco-comprar.disabled{background: url(../img/btn-choco-comprar-disabled.png); width: 64px; height: 22px;}

.chocometro-content .slider .single-row .row-column p.controls span{font: bold 1.25em Arial;}
.chocometro-content .slider .single-row .row-column p.go-to-slide,
.chocometro-content .slider .single-row .row-column p.mini-go-to-slide{
    position: absolute;
    width: 111px;
    height: 80px;
    right: 20px;
    top: 50%;
    margin-top: -40px;
}
.chocometro-content .slider .single-row .row-column p.go-to-slide a,
.chocometro-content .slider .single-row .row-column p.mini-go-to-slide a{
    width: 111px;
    height: 80px;
    display: block;
    text-indent: -9999px;
    background: url(../img/chocometro-btn-slide5-1.png);
}
.chocometro-content .slider .single-row .row-column p.go-to-slide.improvisar a{background: url(../img/chocometro-btn-slide2.png);}
.chocometro-content .slider .single-row .row-column p.go-to-slide.autenticidad a{background: url(../img/chocometro-btn-slide3.png);}
.chocometro-content .slider .single-row .row-column p.go-to-slide.intensidad a{background: url(../img/chocometro-btn-slide4.png);}
.chocometro-content .slider .single-row .row-column .chocolates-with-cover{width: 316px; height: 230px; float: left; background: no-repeat center center;}
.chocometro-content .slider .single-row .row-column .chocolates-with-cover img{margin-top: 0; margin-left: 48px; /*-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.5); box-shadow: 1px 1px 1px rgba(0,0,0,.5);*/}
img.cover{margin-top: 15px; margin-left: 63px;}

.chocometro-content .customizable-box{width: 202px; height: 222px; float: left; margin: 0 20px;}
.chocometro-content .customizable-box-inner{padding: 17px; height: 170px;}
.chocometro-content .customizable-box img{margin: 0!important; padding: 0!important; float: none; display: block;}
.chocometro-content .customizable-box .cover{position: absolute; -moz-box-shadow: 23px 8px 10px -15px #948E7F; box-shadow: 23px 8px 10px -15px #948E7F;}
.chocometro-content .customizable-box .collection-dropped-chocolate{float: left;}
.chocometro-content .customizable-box .collection-dropped-chocolate img{width: 42px; height: 42px;}
.chocometro-content .customizable-box p.controls{width: 100% !important; margin-top: 15px;}
.chocometro-content .customizable-box p.controls a{float: right;}
.chocometro-content .customizable-box p.controls span span{margin-right: 0 !important; font-size: 1em !important;}
.chocometro-content .mini-slider{height: 285px; margin: 15px 0; overflow: hidden;}
.chocometro-content .mini-slider .mini-slider-inner{width: 20000px;}
.chocometro-content .mini-slider .mini-slider-slide{width: 640px; display: block; float: left; position: relative;}
.chocometro-content .mini-slider .mini-slider-slide.padding-left{width: 555px; padding-left: 85px;}

.chocometro-content .mini-slider .chocolates-collection {width: 470px; margin: 0 auto; height: 84px;}
.chocometro-content .mini-slider .chocolates-collection:first-child {margin-bottom: 10px; border-bottom: 1px solid #e5e5e5; padding-bottom: 10px;}
.chocometro-content .mini-slider .chocolates-collection img {margin: 0!important; padding: 0!important; float: left;}
.chocometro-content .mini-slider .chocolates-collection .collection-chocolates {width: 180px; height: 84px; float: left;}
.chocometro-content .mini-slider .chocolates-collection .collection-cover {float: left; margin: 2px 20px;}
.chocometro-content .mini-slider .chocolates-collection .collection-data {float: left; width: 165px;}
.chocometro-content .mini-slider .chocolates-collection .collection-data h3{display: inline-block; font: 1.25em 'NewsGothicStdRegular'; color: #000; text-transform: uppercase;}
.chocometro-content .mini-slider .chocolates-collection .collection-data h3 strong{color: #b40000; font-weight: normal;}
.chocometro-content .slider .single-row .row-column p.mini-go-to-slide.prev,
.chocometro-content .slider .single-row .row-column p.mini-go-to-slide.next{width: 63px; height: 55px; right: 0;}
.chocometro-content .slider .single-row .row-column p.mini-go-to-slide.prev{left: 0; right: auto;}
.chocometro-content .slider .single-row .row-column p.mini-go-to-slide.prev a{background: url(../img/chocometro-btn-more-prev.png);width: 63px; height: 55px;}
.chocometro-content .slider .single-row .row-column p.mini-go-to-slide.next a{background: url(../img/chocometro-btn-more-next.png);width: 63px; height: 55px;}
.collection-draggable-chocolate{display: inline-block; width: 42px; height: 42px; cursor: pointer;}
.collection-draggable-chocolate img{margin: 0!important; padding: 0!important; float: none; display: block; width: 42px; height: 42px;}

.chocolate-tooltip{display: none; z-index: 2000; height: 268px; width: 175px; background: url(../img/bombon-tooltip-normal.png); position: absolute; top: 0; left: 0; margin-top: -260px; margin-left: -104px;}
.chocolate-tooltip a{display: none; width: 30px; height: 30px; text-indent: -9999px; float: right;}
.chocolate-tooltip.delete{background: url(../img/bombon-tooltip.png);}
.chocolate-tooltip.delete a{display: block;}
.chocolate-tooltip img{display: block; margin: 30px auto 20px;}
.chocolate-tooltip p{font: 1.2em Arial; color: #858585; padding: 0 25px 0 20px;}
.chocolate-tooltip p.title{color: #000; font-weight: bold;}
.chocolate-tooltip p.info{color: #773f10; font-weight: bold; font-style: italic; background: url(../img/tooltip-info.png) no-repeat 20px center; padding-left: 36px;}

/* Carousel gradients */
.carusel-cover {background: repeat-y center top; width: 4000px; height: 100%; top: 0; position: absolute;}
.carusel-left-cover {background-image: url(../img/carusel-left-cover.png); left: 50%; margin-left: -4500px;}
.carusel-right-cover {background-image: url(../img/carusel-right-cover.png); right: 50%; margin-right: -4500px;}

/* Cart popup */
#cart-popup { width: 297px; position: absolute; top: 35px; left: 56%; z-index: 200; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);}
#cart-popup > div {
    background: #efefef;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
#cart-popup h3{ color: #fff; font: bold 1.6em Arial; height: 29px; line-height: 29px; border: 1px solid #7f5b39; background: url(../img/cart-popup-title.jpg); padding: 0 20px; text-shadow: -1px -1px 0 #604726; }
#cart-popup h3 a{ width: 24px; height: 29px; float: right; text-indent: -9999px; background: url(../img/cart-popup-close.jpg); margin-right: -10px; }
#cart-popup div.total{ background: #d8d1ca; border-top: 1px solid #fff; border-bottom: 1px solid #fff; color: #2c2a2a; font: bold 1.5em Arial; text-transform: uppercase; padding: 7px 0; text-align: center; }
#cart-popup div.total button.finalizar{ text-indent: -9999px; border: 0; background: url(../img/cart-finalizar-btn.jpg) no-repeat; width: 141px; height: 23px; }
#cart-popup div.total button.seguir{ text-indent: -9999px; border: 0; background: url(../img/cart-seguir-btn.jpg) no-repeat; width: 141px; height: 23px; }
#cart-popup div.product{ padding: 10px 0 0; }
#cart-popup div.region{ padding: 0 20px; }
#cart-popup div.product hr{ border: 0; border-top: 1px solid #cbcbcb; border-bottom: 1px solid #fff; clear: both; margin: 0.2em 0; }
#cart-popup div.product img{ float: left; margin-right: 10px; margin-bottom: 10px; box-shadow: 3px 3px 5px #999; }
#cart-popup div.product h4{ color: #753600; font: 1.4em Arial; text-transform: uppercase; padding: 5px 0; }
#cart-popup div.product p.price{ color: #1d1d1d; font: bold 1.7em Arial; }
#cart-popup div.product p.price span{ color: #1d1d1d; font: 0.647em Arial; }
#cart-popup div.product p.field{ color: #5d5d5d; font: bold 1.2em/30px Arial; margin: 0; }
#cart-popup div.product p.field strong{ color: #222; }
#cart-popup div.product p.field span{ margin-top: 5px; float: right; }
#cart-popup div.product p.field span input,
#cart-popup div.product p.field span select{ width: 40px; border: 1px solid #bfbfbf; color: #888; }

#ficha-tecnica {
    position: absolute;
    top: 50px;
    width: 932px;
    left: 50%;
    margin-left: -475px;
    z-index: 200;
    border: 7px solid #fcfcfc;
}
#ficha-tecnica .contenidos-ficha {margin-bottom: -3px;}
#ficha-tecnica-overlay {width: 100%; height: 100%; position: absolute; background: #fff; opacity: 0.8; z-index: 199; top: 0;}
#ficha-tecnica a.close {width: 12px; height: 12px; background: url(../img/map-close.jpg); text-indent: -9999px; float: right; margin: 10px;}


.ui-datepicker-inline{width: 213px;}
.ui-datepicker .ui-datepicker-header{background: #59422B;}
.ui-widget-header{color: #fff;}

/* Lupa */
.bt-buscador-field {background: white; border: 1px solid #CCC; width: 11px; height: 10px; padding: 1px; margin-top: -2px; margin-right: -2px; position: relative;}
.bt-buscador-field form{float: left;}
.bt-buscador-field input{outline: none; font-size: 10px;  border: 0; background: transparent; width: 100px}
.bt-buscador-field a{position: absolute; top: 1px; right: 1px;}