div.cuadro-registro-2 div.fechas-sugeridas{width:100%;}
div#services div.nav-slider ul li a{background-color:#000;}
.contenidos .contenidos-inner div.mapa-content ul li{color:#585858; font-weight:normal;}
.contenidos .contenidos-inner div.mapa-content ul li.titulo{color:#BD0000; font-weight:bold;}
.contenidos .contenidos-inner div.mapa-content ul li.subtitulo{color:#585858; font-weight:bold;}

#section-heading h1 {color: #333;}
#section-heading .heading-nav {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);   /* IE6 & 7 */
    zoom: 1;
}
.news-content-history .blackbox-overlay{
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);   /* IE6 & 7 */
    zoom: 1;
}
#cart-popup {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC969696,endColorstr=#CC969696)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC969696,endColorstr=#CC969696);   /* IE6 & 7 */
    zoom: 1;
}