@font-face {
    font-family: 'TradeGothicLTBoldCond';
    src: url('fonts/tradegothicltboldcondensedno.20.eot');
    src: url('fonts/tradegothicltboldcondensedno.20.eot?#iefix') format('embedded-opentype'),
    url('fonts/tradegothicltboldcondensedno.20.woff') format('woff'),
    url('fonts/tradegothicltboldcondensedno.20.ttf') format('truetype'),
    url('fonts/tradegothicltboldcondensedno.20.svg#tradegothicltboldcondensedno.20') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothicLTBold';
    src: url('fonts/trade_gothic_lt_bold.eot');
    src: url('fonts/trade_gothic_lt_bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/trade_gothic_lt_bold.woff') format('woff'),
    url('fonts/trade_gothic_lt_bold.ttf') format('truetype'),
    url('fonts/trade_gothic_lt_bold.svg#trade_gothic_lt_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NewsGothicStdRegular';
    src: url('fonts/newsgothicstd-webfont.eot');
    src: url('fonts/newsgothicstd-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/newsgothicstd-webfont.woff') format('woff'),
    url('fonts/newsgothicstd-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NewsGothicBT-RomanCondensed';
    src: url('fonts/newsgothiccondensed.eot');
    src: url('fonts/newsgothiccondensed.eot?#iefix') format('embedded-opentype'),
    url('fonts/newsgothiccondensed.woff') format('woff'),
    url('fonts/newsgothiccondensed.ttf') format('truetype'),
    url('fonts/newsgothiccondensed.svg#newsgothiccondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINNeuzeitGrotesk-BoldCond';
    src: url('fonts/dinneuzeitgrotesk-boldcond-regular.eot');
    src: url('fonts/dinneuzeitgrotesk-boldcond-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/dinneuzeitgrotesk-boldcond-regular.woff') format('woff'),
    url('fonts/dinneuzeitgrotesk-boldcond-regular.ttf') format('truetype'),
    url('fonts/dinneuzeitgrotesk-boldcond-regular.svg#dinneuzeitgrotesk-boldcond-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINEngschriftStd';
    src: url('fonts/dinengschriftstd-webfont.eot');
    src: url('fonts/dinengschriftstd-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/dinengschriftstd-webfont.woff') format('woff'),
    url('fonts/dinengschriftstd-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINMittelschriftStd';
    src: url('fonts/dinmittelschriftstd.eot');
    src: url('fonts/dinmittelschriftstd.eot?#iefix') format('embedded-opentype'),
    url('fonts/dinmittelschriftstd.woff') format('woff'),
    url('fonts/dinmittelschriftstd.ttf') format('truetype'),
    url('fonts/dinmittelschriftstd.svg#dinmittelschriftstd') format('svg');
    font-weight: normal;
    font-style: normal;
}